{% extends "_base.html" %}
{% block content %}
    <h1>venue</h1>
    <table class="table">
        <tr>
            <th>name</th>
            <td>
                {{ request.user }}
            </td>
        </tr>
        <tr>
            <th>phone</th>
            <td>
                {{ request.user.phone_number }}
            </td>
        </tr>

    </table>
{% endblock %}