{% extends "_base.html" %}
{% block content %}
    <h1>venue</h1>
    <table class="table">
        <tr>
            <th>favorite</th>
            <td>
                {% for venue in favorite_venues %}
                    {{ venue.name }}
                {% endfor %}
            </td>
        </tr>
        {#        <tr>#}
        {#            <th>Description</th>#}
        {#            <td>{{ object.description|linebreaks }}</td>#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th>Styles</th>#}
        {#            <td>{{ object.styles.all|join:","|default:"No style available" }}</td>#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th>Updated</th>#}
        {#            <td>{{ object.date_updated|date:"F Y" }}</td>#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th>like</th>#}
        {#            <td><p>{{ object.lovers.count }} <a href={{ object.get_like_url }}>like</a></p>#}
        {#            </td>#}
        {#        </tr>#}
        {#        <tr>#}
        {#            <th>like</th>#}
        {#            <td>#}
        {#                <p><a class='like-btn' data-href='{{ object.get_api_like_url }}'#}
        {#                      data-likes='{{ object.lovers.count }}'#}
        {#                      href='{{ object.get_like_url }}'>{% for i in object.lovers.all %}#}
        {#                    {{ i.id }} {% endfor %} {{ request.user }} </a></p>#}
        {#            </td>#}
        {#        </tr>#}
    </table>
{% endblock %}