{% extends "_base.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block title %}پنل کاربری{% endblock %}
{% block content %}
    <div class="container pt-5">


        <!-- main content -->
        <div class="col-12 my-lg-5">

            <div class="container my-5" style="min-height: 75vh;">
                <h3>حساب کاربری من</h3>
                <hr>
                <div class="row my-5">

                    <!-- myTabs -->
                    <div class="col-md-3 col-lg-3 mb-3">
                        <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active small" id="messages-tab" data-toggle="tab"
                                   href="#messages" role="tab" aria-controls="messages" aria-selected="true">درخواست‌های
                                    شما</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link small" id="favorites-tab" data-toggle="tab" href="#favorites"
                                   role="tab" aria-controls="favorites" aria-selected="false">پسند شده‌ها</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link small" id="contactInfo-tab" data-toggle="tab" href="#contactInfo"
                                   role="tab" aria-controls="contactInfo" aria-selected="false">مشخصات کاربری</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link small" id="myPassword-tab" data-toggle="tab" href="#myPassword"
                                   role="tab" aria-controls="myPassword" aria-selected="false">تغیر رمز عبور</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link small" id="logout" data-toggle="" href="{% url 'log_out' %}" role=""
                                   aria-controls="" aria-selected="false">خروج</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-9 col-lg-9">
                        <div class="tab-content" id="userTabContent">

                            <!-- messages tab content -->
                            <div class="tab-pane fade show active" id="messages" role="tabpanel"
                                 aria-labelledby="messages-tab">
                                <h5 class="text-secondary">درخواست‌های شما</h5>
                                <hr class="mb-4">
                                {% for VenueReq in Venue_requests %}
                                    <div class="card mb-3">
                                        <div class="row no-gutters">
                                            <div class="col-md-4">
                                                <a href="{{ VenueReq.receiver.get_absolute_url }}"><img
                                                        src="{{ VenueReq.receiver.picture_url }}"
                                                        class="card-img yourMessagesPicture"
                                                        alt="" width="100%" height="100%"></a>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <h6 class="mb-3">{{ VenueReq.receiver.name }}</h6>
                                                    <div class="d-flex">
                                                        <h6 class="card-title small text-dark mb-1"
                                                            style="width: 70px;">متن پیام:</h6>
                                                        <p class="card-text text-secondary small mb-1">{{ VenueReq.message|default:'...'|truncatewords:20 }}</p>
                                                    </div>
                                                    <div class="row pl-3">
                                                        <p class="small text-dark mb-1" style="width: 130px;">تعداد
                                                            مهمان:</p>
                                                        <p class="small text-secondary mb-1">{{ VenueReq.number_of_guests }}
                                                            نفر</p>
                                                    </div>
                                                    <div class="row pl-3">
                                                        <p class="small text-dark mb-1" style="width: 130px;">دلیل
                                                            تماس:</p>
                                                        <p class="small text-secondary mb-1">{{ VenueReq.contact_reason }}</p>
                                                    </div>
                                                    <div class="row pl-3">
                                                        <p class="small text-dark mb-1" style="width: 130px;">تاریخ و
                                                            زمان مراسم:</p>
                                                        <p class="small text-secondary mb-1">
                                                            {{ VenueReq.preferred_wedding_date|date:'H:i|D|Y/m/d' }}
                                                            {% if VenueReq.flexible_dates %}
                                                                -(قابل تغییر){% endif %}</p>
                                                    </div>
                                                    <a href="{{ VenueReq.receiver.get_absolute_url }}"
                                                       class="text-purple"
                                                       style="position: absolute; bottom: 10px; left: 10px;">جزئیات
                                                        تالار</a>
                                                    <p class="card-text"
                                                       style="position: absolute; bottom: 5px; right: 5px;">
                                                        <small class="text-muted"
                                                               style="font-size: 11px; margin-right: 15px">زمان
                                                            درخواست: {{ VenueReq.created_time|date:'H:i|D|Y/m/d' }}
                                                        </small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- /messages tab content -->

                            <!-- favorites tab content -->
                            <div class="tab-pane fade" id="favorites" role="tabpanel"
                                 aria-labelledby="favorites-tab">
                                <h5 class="mb-3 text-secondary">پسند شده‌ها</h5>
                                <hr>
                                {% for venue in favorite_venues %}
                                    <div id="lovediv-{{ forloop.counter }}"
                                         class="card border-0 rounded-0 p-3 p-md-2 m-1">
                                        <a href="{{ venue.get_estimate_url }}"
                                           class="btn custom-btn price-venue showOnHover">استعلام
                                            قیمت</a>
                                        <div class="row ">
                                            <div class="col-lg-5">
                                                <a href="{{ venue.get_absolute_url }}"><img
                                                        src="{{ venue.picture_url }}"
                                                        class="w-100 h-100 img venuePicture"></a>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="card-block">
                                                    <a href="{{ venue.get_absolute_url }}"><h5
                                                            class="text-dark pt-2">{{ venue.name }}</h5></a>
                                                    <p class="text-muted small">{{ venue.area }} </p>
                                                    <div class="row pl-3">
                                                        <b class="text-dark small font-weight-bold my-0"
                                                           style="width: 60px;">سبک: </b>
                                                        <p class="text-dark small my-0">
                                                            {{ venue.styles.all|join:"/"|default:"ندارد" }}</p>
                                                    </div>
                                                    <div class="row pl-3">
                                                        <b class="text-dark small font-weight-bold my-1"
                                                           style="width: 60px;">بودجه:</b>
                                                        <p class="text-dark small my-1">شروع
                                                            از {{ venue.min_price |intcomma:False }}
                                                            تومان
                                                            تا {{ venue.max_price |intcomma:False }}
                                                            تومان برای
                                                            {{ venue.capacity }} مهمان
                                                        </p>
                                                    </div>
                                                    <p class="text-muted pt-2 mt-0 mb-1 small">{{ venue.description|default:'...'|truncatewords:25 }} </p>
                                                </div>
                                                <div class="row pl-3 pt-2">
                                                    <a href="#" class=" text-purple row pl-3">
                                                        <i href="#" name="heart"
                                                           class="fas fa-heart"></i>
                                                        <a href="#"
                                                           class="like-btn pl-4 small text-purple showOnHover"
                                                           data-href='{{ venue.get_api_like_url }}'
                                                           data-divid="lovediv-{{ forloop.counter }}"
                                                           style="font-size: 11px;">
                                                            حذف از علاقه مندی ها
                                                        </a>
                                                    </a>
                                                    <a href="{{ venue.get_absolute_url }}"
                                                       class="showOnHover detail-button text-purple pr-3">مشاهده
                                                        جزئیات</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>

                            <div class="tab-pane fade justify-content-around" id="contactInfo" role="tabpanel"
                                 aria-labelledby="contactInfo-tab">
                                <h5 class="mb-3 text-secondary">مشخصات کاربری</h5>
                                <hr>

                                <form method="POST" action="#contactInfo" class="text-secondary mt-5 inputStyle">
                                    {% csrf_token %}
                                    {{ forms.change_account.action }}
                                    <div class="form-group row">
                                        <label for="inputName" class="col-sm-3 col-lg-2 col-form-label">
                                            <small>نام و نام خانوادگی:</small>
                                        </label>
                                        <div class="">
                                            {% render_field forms.change_account.name id="inputName" type="text" placeholder="مثال: حسین دادفر" class="form-control border-left-0 border-top-0 border-right-0 rounded-0" %}
                                            {% for error in forms.change_account.name.errors %}
                                                <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputPhoneNumber" class="col-sm-3 col-lg-2 col-form-label">
                                            <small>ایمیل:</small>
                                        </label>
                                        <div class="">
                                            {% render_field forms.change_account.email id="inputemail" type="email" placeholder="مثال: example@gmail.com" class="form-control border-left-0 border-top-0 border-right-0 rounded-0" %}
                                            {% for error in forms.change_account.email.errors %}
                                                <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group row mt-4">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary">ذخیره</button>
                                        </div>
                                    </div>
                                </form>

                            </div><!-- /user info tab content -->

                            <div class="tab-pane fade" id="myPassword" role="tabpanel"
                                 aria-labelledby="myPassword-tab">
                                <h5 class="text-secondary">رمز عبور</h5>
                                <hr>

                                <form method="POST" action="#myPassword" class="text-secondary mt-5 inputStyle">
                                    {% csrf_token %}
                                    {{ forms.change_password.action }}
                                    <div class="form-group row">
                                        <label for="currentPass" class="col-sm-4 col-lg-3 col-xl-2 col-form-label">
                                            <small>رمز عبور فعلی:</small>
                                        </label>
                                        <div class="">
                                            {% render_field forms.change_password.old_password id="currentPass" type="password" placeholder="رمز عبور فعلی را وارد کنید" class="form-control border-left-0 border-top-0 border-right-0 rounded-0" %}
                                            {% for error in forms.change_password.old_password.errors %}
                                                <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="newPass" class="col-sm-4 col-lg-3 col-xl-2 col-form-label">
                                            <small>رمز عبور جدید:</small>
                                        </label>
                                        <div class="">
                                            {% render_field forms.change_password.new_password1 id="newPass" type="password" placeholder="رمز عبور جدید را وارد کنید" class="form-control border-left-0 border-top-0 border-right-0 rounded-0" %}
                                            {% for error in forms.change_password.new_password1.errors %}
                                                <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="repeatNewPass"
                                               class="col-sm-4 col-lg-3 col-xl-2 col-form-label">
                                            <small>تکرار رمز عبور جدید:</small>
                                        </label>
                                        <div class="">
                                            {% render_field forms.change_password.new_password2 id="repeatNewPass" type="password" placeholder="تکرار رمز عبور جدید را وارد کنید" class="form-control border-left-0 border-top-0 border-right-0 rounded-0" %}
                                            {% for error in forms.change_password.new_password2.errors %}
                                                <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="form-group row mt-4">
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-primary">ذخیره</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <!-- /password tab content -->

                        </div>
                    </div>
                    <!-- /.col-md-8 -->
                </div>


            </div>
            <!-- /container -->


        </div><!-- /main content -->

    </div>
    <!-- /container -->






    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- Remove Love Venue JS -->
    <script>
        $(document).ready(function () {
            $(".like-btn").click(function (e) {
                e.preventDefault();
                let this_ = $(this);
                let likeUrl = this_.attr("data-href");
                let divid = $(this).attr("data-divid");
                if (likeUrl) {
                    $.ajax({
                        url: likeUrl,
                        method: "GET",
                        data: {},
                        success: function (data) {
                            console.log(data);
                            document.getElementById(divid).remove();
                        }, error: function (error) {
                            console.log(error);
                            console.log("error")
                        }
                    })
                }

            })

        })
    </script>
    <!-- /Remove Love Venue JS -->
{% endblock %}
{% block extrascripts %}

{% endblock extrascripts %}