{% load widget_tweaks %}
{% block extrahead %}
    <style>
        .inputStyle ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }
        .inputStyle ::-moz-placeholder { /* Firefox 19+ */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }
        .inputStyle :-ms-input-placeholder { /* IE 10+ */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }
        .inputStyle :-moz-placeholder { /* Firefox 18- */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }
        .custom-btn {
            background-color: rgb(158, 20, 98);
            border-radius: 2px;
            color: white;
            transition: ease-in-out .1s;
            -webkit-transition: ease-in-out .1s;
        }
        .custom-btn:hover {
            background-color: #815;
            color: white;
            box-shadow: 1px 2px 7px rgb(155, 83, 124)
        }
    </style>
{% endblock extrahead %}
<!-- form login -->
<form class="px-4 pb-0 pt-4 text-secondary inputStyle" method="post" action="">
    {% csrf_token %}
    <h2 class="mb-3 text-center">ورود</h2>
    <div class="modal-body">

        {% for field in form %}
            <div class="form-group">
                {% if field.name == 'username' %}
                    <label for="{{ field.id_for_label }}" style="margin-bottom: px">{{ field.label }}</label>
                    <div class="input-group">
                        <input type="tel" name="username" class="form-control text-right border-right-0"
                               title="شماره تلفن را خود را بدون صفر وارد کنید. مانند: 9120000000"
                               pattern="[9]{1}[0-9]{9}"
                               placeholder="شماره تلفن خود را بدون صفر وارد کنید"
                               required id="phoneNumberHelper">

                        <div class="input-group-append">
                            <input type="text" value="98+" readonly class="input-group-text border-left-0 bg-light"
                                   style="max-width: 70px;border-radius: 5px 0 0 5px;">
                        </div>
                        <div class="invalid-feedback">
                            <p class="text-danger py-0 my-0">شماره همراه خود را بدون صفر وارد نمائید</p>
                            <p class="text-danger py-0 my-0">مثال: ۹۱۲۳۴۵۶۷۸۹</p>
                        </div>
                        <div class="{% if form.non_field_errors %}invalid{% endif %} container px-0">
                            {% for error in form.non_field_errors %}
                                <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="container px-0">
                            {% if form.errors %}
                                {% for error in form.phone_number.errors %}
                                    <p class="text-danger py-0 my-0">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="d-flex justify-content-between" style="margin-bottom: -10px;margin-top: 20px;">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <div class="">
                            <p class="small">
                                <a href="{% url 'restore_password' %}" id="signUpLink">رمز عبور را فراموش کرده‌ام</a>
                            </p>
                        </div>
                    </div>

                    {% render_field field class="form-control" placeholder="رمز عبور خود را وارد کنید" title="رمز عبور خود را وارد نمائید" %}
                    <div class="{% if field.errors %} invalid{% endif %}">
                        {% for error in field.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

    <div class="d-flex justify-content-center m-0 p-0">
        <button type="button" class="btn submit-btn custom-btn btn-block" formnovalidate="formnovalidate"
                style="max-width: 320px;line-height: 2rem;">
            ورود
        </button>
    </div>
    <!-- Register -->
    <div class="d-flex justify-content-around my-3">
        <p class="">عضو نیستید؟
            <a href="#" class="signup-btns" id="signUpLink">ثبت نام</a>
        </p>
    </div>


</form>
<!-- /form login -->

<script>
    $(function () {
        // Log in & Sign up buttons
        $(".signup-btns").modalForm({formURL: "{% url 'sign_up_user' %}"});
    });
</script>