{% extends "_base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block extrahead %}
    <style>
        body {
            background: #F5F5F5;
        }
    </style>
{% endblock extrahead %}

{% block content %}


    <!-- main content -->
    <div class="container my-5" style="min-height: 70vh;">

        <div class="validatePhoneNumber recovery-pass-pages text-center shadow-sm rounded py-5 px-4">
            <h5 class="mb-5">بازیابی رمز عبور</h5>
            <p class="mb-4 text-left text-secondary">شماره همراه خود را جهت ارسال کد یکبار مصرف وارد نمائید.</p>

            <form class="text-left" action="{% url 'restore_password' %}" method="post" novalidate=""
                  id="validatePhoneNumberForm">
                <div class="input-group" style="max-width: 400px !important;">
                    {% csrf_token %}
                    <input type="tel" name="phone_number" class="form-control text-right" pattern="[9]{1}[0-9]{9}"
                           placeholder="۹۱۲۲۲۲۲۲۲۲"
                           required id="phoneNumberHelper">

                    <div class="input-group-append">
                        <input type="text" value="98+" readonly class="input-group-text"
                               style="max-width: 70px;border-radius: 5px 0 0 5px;">
                    </div>
                    <div class="invalid-feedback">
                        <p class="text-danger py-0 my-0">شماره همراه خود را بدون صفر وارد نمائید</p>
                        <p class="text-danger py-0 my-0">مثال: ۹۱۲۳۴۵۶۷۸۹</p>

                    </div>
                    <div class="container px-0">
                        {% if form.errors %}
                            {% for error in form.phone_number.errors %}
                                <p class="text-danger py-0 my-0">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>
                <div class="container px-0">
                    <button class="btn custom-btn mt-4 py-2 d-block w-100" type="submit"
                            id="validateOtpNumberBtn">تائید
                    </button>
                </div>
            </form>

        </div>
    </div><!-- /container -->
    <!-- /main content -->


{% endblock content %}

