{% extends "_base.html" %}
{% load widget_tweaks %}

{% block extrahead %}
    <style>
        body {
            background: #F5F5F5;
        }
    </style>
{% endblock extrahead %}

{% block content %}


    <!-- main content -->
    <div class="container my-5" style="min-height: 70vh;">

        <div class="selectNewPassword recovery-pass-pages text-center shadow-sm rounded py-5 px-4">
            <h5 class="mb-5">انتخاب رمز عبور جدید</h5>

            <form class="text-left" action="{% url 'restore_password_confirm' %}" method="post"
                  id="selectNewPasswordForm"
                  oninput='repeatNewPasswordInput.setCustomValidity(repeatNewPasswordInput.value != password.value ? "رمزهای وارد شده با هم تطابق ندارند" : "")'>
                {% csrf_token %}
                <label class="text-secondary" for="password">رمز عبور</label><br>
                <input class="form-control" id="password" type="password"
                       oninvalid="this.setCustomValidity('پسوورد انتخابی باید حداقل هشت کاراکتر و ترکیبی از اعداد و حروف باشد')"
                       oninput="setCustomValidity('')" pattern="(?=.*\d)(?=.*[A-Za-z]).{8,}"
                       title="پسوورد انتخابی باید حداقل هشت کاراکتر و ترکیبی از اعداد و حروف باشد" required
                       name="password">
                <p class="font-weight-bold mt-1 text-secondary ml-2" style="font-size: 10px;">رمز عبور باید حداقل هشت
                    کاراکتر و ترکیبی از اعداد و حروف باشد</p>
                {% if form.errors %}
                    {% for error in form.password.errors %}
                        <p class="text-danger py-0 my-0">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <label class="mt-0 text-secondary" for="repeatNewPasswordInput">تکرار رمز عبور</label><br>
                <input class="form-control" id="repeatNewPasswordInput" type="password"
                       pattern="(?=.*\d)(?=.*[A-Za-z]).{8,}" name="repeatNewPasswordInput">
                <div class="container px-0">
                    <button class="btn custom-btn mt-4 py-2 d-block w-100" type="submit"
                            id="validateOtpNumberBtn">تائید
                    </button>
                </div>
            </form>

        </div>
    </div><!-- /container -->
    <!-- /main content -->


{% endblock content %}

