{% extends "_base.html" %}
{% load widget_tweaks %}

{% block extrahead %}
    <style>
    body{
        background: #F5F5F5;
    }
    </style>
{% endblock extrahead %}

{% block content %}


    <!-- main content -->
    <div class="container my-5" style="min-height: 70vh;">

        <div class="validateOtpNumber recovery-pass-pages text-center shadow-sm rounded py-5 px-4">
            <h5 class="mb-5">تائید شماره همراه</h5>
            <p class="mb-4 small text-left text-secondary">کد ۶ رقمی یکبار مصرف دریافتی را در کادر زیر وارد کنید.</p>

            <form class="text-left" action="{% url 'restore_password_done' %}" method="post" novalidate=""
                  id="validateOtpNumberForm">
                {% csrf_token %}
                <input type="tel" name="code" class="form-control text-center" pattern="[0-9]{6}"
                       placeholder="۹۱۲۲۲۲۲۲۲۲" required
                       id="phoneNumber">
                <div class="invalid-feedback">
                    <p class="text-danger py-0 my-0">کد وارد شده صحیح نمی‌باشد.</p>
                    <p class="text-danger py-0 my-0">کد وارد شده باید شامل ۶ عدد باشد.</p>
                </div>
                {% if form.errors %}
                    {% for error in form.code.errors %}
                        <p class="text-danger py-0 my-0">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                <div class="container px-0">
                    <button class="btn custom-btn mt-4 py-2 d-block w-100" type="submit"
                            id="validateOtpNumberBtn">تائید</button>
                </div>
            </form>

        </div>
    </div><!-- /container -->
    <!-- /main content -->


{% endblock content %}