{% load widget_tweaks %}
{% block extrahead %}
    <style>
        .inputStyle ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle ::-moz-placeholder { /* Firefox 19+ */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle :-ms-input-placeholder { /* IE 10+ */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle :-moz-placeholder { /* Firefox 18- */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .custom-btn {
            background-color: rgb(158, 20, 98);
            border-radius: 2px;
            color: white;
            transition: ease-in-out .1s;
            -webkit-transition: ease-in-out .1s;
        }

        .custom-btn:hover {
            background-color: #815;
            color: white;
            box-shadow: 1px 2px 7px rgb(155, 83, 124)
        }
    </style>
{% endblock extrahead %}
<!-- form signUp -->
<form class="px-4 pb-0 pt-4 text-secondary inputStyle" method="post" action="" id="customSignupForm">
    {% csrf_token %}
    <h2 class="mb-2 text-center">ثبت نام</h2>
    <div class="modal-body">
        <!--- Other Errors --->
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
            {% endfor %}
        </div>
        <!--- Other Errors --->


        <!--- Name Field --->
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {% render_field form.name id="name" type="text" placeholder="نام و نام خانوادگی خود را وارد کنید" class="form-control mb-2" %}
        <div class="{% if form.name.errors %} invalid{% endif %}">
            {% for error in form.name.errors %}
                <p class="help-block my-0 mt-1 text-danger rounded">{{ error }}</p>
            {% endfor %}
        </div>
        <!--- /Name Field --->

        <!--- PhoneNumber Field --->
        <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
        <div class="input-group mb-2">
            <input type="tel" name="phone_number" class="form-control text-right border-right-0"
                   pattern="[9]{1}[0-9]{9}"
                   placeholder="شماره همراه خود را بدون صفر وارد کنید"
                   required id="phoneNumberHelper">

            <div class="input-group-append">
                <input type="text" value="98+" readonly class="input-group-text border-left-0 bg-light"
                       style="max-width: 70px;border-radius: 5px 0 0 5px;">
            </div>
            <div class="invalid-feedback">
                <p class="text-danger py-0 my-0">شماره همراه خود را بدون صفر وارد نمائید</p>
                <p class="text-danger py-0 my-0">مثال: ۹۱۲۳۴۵۶۷۸۹</p>

            </div>
            <div class="{% if form.phone_number.errors %} invalid{% endif %} container px-0">
                {% for error in form.phone_number.errors %}
                    <p class="text-danger py-0 my-0">{{ error }}</p>
                {% endfor %}
            </div>
        </div>
        <!--- /PhoneNumber Field --->

        <!--- password1 Field --->
        <label for="{{ form.password1.id_for_label }}">{{ "رمز عبور" }}</label>
        {% render_field form.password1 id="password1" type="password" placeholder="رمز عبور رو وارد کنید" class="form-control" %}
        <div class="{% if form.password1.errors %} invalid{% endif %}">
            {% for error in form.password1.errors %}
                <p class="help-block my-0 py-0 text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <!--- /password1 Field --->

        <!--- password2 Field --->
        <label for="{{ form.password2.id_for_label }}" class="mt-2">{{ "تائید رمز عبور" }}</label>
        {% render_field form.password2 id="password2" type="password" placeholder="تکرار رمز عبور رو وارد کنید" class="form-control" %}
        <div class="{% if form.password2.errors %} invalid{% endif %}">
            {% for error in form.password2.errors %}
                <p class="help-block my-0 mt-1 text-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <!--- /password2 Field --->

    </div>

    <div class="d-flex justify-content-center">
        <button type="button" id="signUpButton" class="submit-btn btn custom-btn btn-block"
                style="max-width: 320px;line-height: 2rem;"
                formnovalidate="formnovalidate">ثبت
            نام
        </button>
    </div>
    <div class="d-flex justify-content-around pt-1">
        <!-- logIn button -->
        <p class="mt-3 mb-4">قبلا عضو شده‌اید؟
            <a href="#" class="login-btns" id="signInLink">وارد شوید</a>
        </p>
    </div>
</form>
<script>
    $(function () {
        // Log in & Sign up buttons
        $(".login-btns").modalForm({formURL: "{% url 'log_in' %}"});
    });
</script>