@font-face {
    font-family: iransans;
    src: url('../fonts/IRANSansWeb.woff')
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: iransans;
}

body {
    background-color: #FFFFFF;
}

.text-purple {
    color: #815;
}
.bg-purple {
    background-color: #af4f85;
}

/* Index Navbar */
.indexNavbar-default {
    transition: 500ms ease;
    background: #00000050 !important;
}

.indexNavbar-default .user-drop-down a, .indexNavbar-default .loacation-drop-down a {
    color: #666666;
}

.navbar-brand {
    font-size: 1.4rem !important;
}

.indexNavbar-default a {
    color: white;
    font-size: .9rem;
}

.indexNavbar-default.scrolled {
    background: #fff !important;
}

.indexNavbar-default.scrolled a {
    color: #666666;
}

.indexNavbar-default a:hover, .navbar-default.scrolled a:hover {
    color: #28A745;
}

/* Other Navbars */

.navbar-default .user-drop-down a, .navbar-default .loacation-drop-down a {
    color: #666666;
}

.navbar-brand {
    font-size: 1.4rem !important;
}

.navbar-default {
    background: #fff !important;
}

.navbar-default a {
    color: #666666;
    font-size: .9rem;
}

.navbar-default a:hover, .navbar-default.scrolled a:hover {
    color: #28A745;
}


/* modal overlay fix */
.modal-backdrop {
    /* bug fix - no overlay */
    display: none;    
}
.modal {
    background: rgba(0, 0, 0, 0.5);
}

#loginForm {
    max-width: 400px;
}

#loginForm a, #signupForm a {
    color: #AF4F85;
}

#signupForm {
    max-width: 400px;
}

.show > .dropdown-menu {
    max-height: 2000px;
    visibility: visible;
}

.loacation-drop-down {
    display: block;
    max-height: 0;
    visibility: hidden;
    transition: all 0.35s ease-in-out;
    overflow: hidden;
    right: 150px;
    width: 80% !important;
}

.navSearch {
    font-size: 12px;
    width: 250px !important;
}


/* homePpage header */
.masthead {
    margin-top: 0px !important;
    height: 80vh;
    background-image: url("../img/KrystaRado_Wedding_January132017_501_BLOG.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerSearch {
    font-size: 1rem;
}
/* /navbar */


/* --- Photo Gallery 1--- */
.gallery-block {
    padding-bottom: 0px;
    padding-top: 200px;
}

.gallery-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.compact-gallery .item {
    overflow: hidden;
    margin-bottom: 0;
    background: black;
    opacity: 1;
}

.gallery-block.compact-gallery .item .image {
    transition: 0.8s ease;
}


.gallery-block.compact-gallery .item .description {
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    font-size: 17px;
    line-height: 18px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: #00000060;
}

.gallery-block.compact-gallery .item .description .description-heading {
    font-size: 1em;
    font-weight: bold;
}

.gallery-block.compact-gallery .item .description .description-body {
    font-size: 0.8em;
    margin-top: 10px;
    font-weight: 300;
}

@media (min-width: 576px) {

    .gallery-block .zoom-on-hover:hover .image {
        opacity: 0.7;
    }
}
/* --- /Photo Gallery 1--- */

/* Photo Gallery 2 */
.gallery-block {
    padding-top: 60px;
}

.gallery-block .heading {
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block .heading h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
    font-size: 17px;
    font-weight: bold;
}

.gallery-block.cards-gallery .card {
    transition: 0.3s ease;
}

.gallery-block.cards-gallery .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .card-body {
    text-align: center;
}

.gallery-block.cards-gallery .card-body p {
    font-size: 15px;
}

.gallery-block.cards-gallery a {
    color: #212529;
}

.gallery-block.cards-gallery a:hover {
    text-decoration: none;
}

.gallery-block.cards-gallery .card {
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

    .gallery-block .transform-on-hover:hover {
        transform: translateY(-5px) scale(1.01);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
}
/* /Photo Gallery 2 */


/* filter section */
#filterMobileButton {
    display: none !important;
}
.panel-heading {
    padding: 0;
    border: 0;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    color: #555;
    font-size: 16px;
    font-weight: bold;
    word-spacing: 3px;
    text-decoration: none;
}

.panel-heading .fa-chevron-down {
    float: left;
    transition: all 0.5s;
}
.panel-heading.active .fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
} 

.sidebarFilter {
    margin-top: 80px;
    margin-bottom: 15px;
    z-index: 1;
}

.sidebarFilter .custom-checkbox .custom-control-input ~ .custom-control-label::before {
    border-radius: 3px;
}

.sidebarFilter .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: rgb(168, 41, 113);
    border: none;
}

.sidebarFilter .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
    background-color: rgb(168, 41, 113);
    border: none;
}



.filterSection {
    color: #00000080;
}

.panel-body label {
    padding-top: 2px !important;
}


/* venues tab */
.venues-list {
    margin-top: 80px;
}

.price-venue {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    font-size: 14px;
}
.card:hover {
    box-shadow: 0px 0px 5px 5px #00000010;
}
.showOnHover {
    display: none;
}
.card:hover .showOnHover {
    display: block;
}
.detail-button {
    position: absolute;
    left: 5px;
    bottom: 0px;
}

/* pagination */
.pagination a {
    color: #815;
}


/* set height for images to show currectly in internet explorer */
.venuePicture {
    max-height: 200px;
}
.mayYouLikePicture {
    max-height: 160px;
}
.venuePictureIndexPage {
    max-height: 230px;
}
.yourMessagesPicture {
    max-height: 200px;
}
.navbarMegaMenuPicture {
    max-height: 200px;
}


/* map tab */
.map-responsive {
    overflow: hidden;
    padding-bottom: 80%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}


/* scrollbar on height 200px for sidebar filter sections */
.overflowHidden {
    overflow: hidden;
}

.overflowAuto {
    overflow-y: auto;
    overflow-x: hidden;
}
.maxHeight {
    max-height: 200px !important;
}



/* sidebar tabs in aboutUs page */
#sideTabs .active {
    color: purple;
    background-color: #f5f5f5;
    border-right: 2px solid purple;
    border-radius: 0;
}
#sideTabs a {
    color: #555555;
}
#sideTabs a:hover {
    color: purple;
}


/* sidebar tabs in aboutUs page */
#myTab .active {
    color: purple;
    background-color: #f5f5f5;
    border-right: 2px solid purple;
}
#myTab a {
    color: #555555;
}
#myTab a:hover {
    color: purple;
}


/* Footer */
footer a {
    color: #cbcfd3;
}
footer a:hover {
    color: #28A745;
}


/* buttons */
.custom-btn {
    background-color: rgb(158, 20, 98);
    border-radius: 2px;
    color: white;
    transition: ease-in-out .1s;
    -webkit-transition: ease-in-out .1s;
}
.custom-btn:hover {
    background-color: #815;
    color: white;
    box-shadow: 1px 2px 7px rgb(155, 83, 124)
}


/* password recovery */
.recovery-pass-pages {
    background-color: #fff;
    max-width: 350px;
    margin: 20vh auto;
}


/* submit venue */
.submit-venue-page {
    background-color: #fff;
    max-width: 700px;
    margin: 100px auto;
}

.submit-venue-form {
    position: relative;
    text-align: start !important;
    overflow: hidden !important;
}

.submit-venue-form input, .submit-venue-form select {
    width: 100%;
    height: 100%;
    height: 45px;
    border: none;
    padding: 0;
    outline: none;
}

.submit-venue-form .label-name {
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 100%;
    right: 0;
    pointer-events: none;
    border-bottom: 1px solid rgb(117, 114, 114);
}

.submit-venue-form .content-name {
    position: absolute;
    bottom: 5px;
    transition: all .2s ease;
}

.submit-venue-form input:focus + .label-name .content-name,
.submit-venue-form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    color: #815;
    font-size: .7rem;
}

.submit-venue-form input:focus + .label-name,
.submit-venue-form input:valid + .label-name {
    /* transform: translateX(0%); */
    border-bottom: 3px solid rgb(112, 140, 192);
    transition: all .2s ease;
}

.submit-venue-form input:focus:invalid + .label-name {
    /* transform: translateX(0%); */
    border-bottom: 3px solid rgb(207, 68, 68);
    transition: all .2s ease;
}

.submit-venue-form .error-message {
    position: absolute;
    top: 40px;
    right: 0px;
    font-size: .7rem;
}







/* media queries */
@media only screen and (max-width: 992px) {
    .indexNavbar-default {
        background-color: #fff !important;
    }

    .indexNavbar-default a {
        color: #666666 !important;
    }
    .navbar-collapse {
        max-height: 400px;
        overflow-y: auto;
    }
    .navbar-default a:hover, .navbar-default.scrolled a:hover {
        color: #28A745 !important;
    }
    #loginForm a, #signupForm a {
        color: #AF4F85 !important;
    }

    #filterMobileButton {
        display: block !important;
        margin-top: 60px !important;
        margin-bottom: 10px;
    }
    .sidebarFilter {
        margin-top: 20px;
        margin-bottom: 0px;
        z-index: 1;
    }
    .venues-list {
        margin-top: 50px;
    }
    .sidebar {
        display: contents;
    }

}

.recovery-pass-pages {
    background-color:
    #fff;
    max-width: 350px;
    margin: 20vh auto;
}

@media (min-width: 992px) {
    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

