{% extends "_base.html" %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 100vh;">
            <div class="col-12 col-md-4 mr-3 pr-4 text-center">
                <h1 class="text-secondary display-2">۴۰۴:</h1>
                <p>صفحه مورد نظر شما پیدا نشد!</p>
                <a class="btn btn-success" href="index.html">صفحه اصلی</a>
            </div>
            <div class="col-12 col-md-7" style="opacity: .8;">
                <img class="img-fluid" src="{% static 'img/404.png' %}" alt="404_Error">
            </div>
        </div>
    </div><!-- /container -->


{% endblock %}
