{% extends "_base.html" %}
{% load static %}
{% block content %}
    <!-- container -->
    <div class="container " style="margin-top: 100px !important;">

        <div class="row mb-5">
            <div class="col-md-2 mb-3">
                <ul class="nav nav-pills flex-column small" id="sideTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="aboutUs-tab" data-toggle="tab" href="#aboutUs" role="tab"
                           aria-controls="aboutUs" aria-selected="true">درباره ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="howItWork-tab" data-toggle="tab" href="#howItWork" role="tab"
                           aria-controls="howItWork" aria-selected="false">نحوه کار</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="FAQ-tab" data-toggle="tab" href="#FAQ" role="tab" aria-controls="FAQ"
                           aria-selected="false">قوانین و مقررات</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="search-tab" data-toggle="tab" href="#search" role="tab" aria-controls="search"
                           aria-selected="false">جست و جو</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="price-tab" data-toggle="tab" href="#price" role="tab" aria-controls="price"
                           aria-selected="false">قیمت</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="discount-tab" data-toggle="tab" href="#discount" role="tab" aria-controls="discount"
                           aria-selected="false">تخفیف</a>
                    </li>
                </ul>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-10">
                <div class="tab-content" id="myTabContent">

                    <!-- aboutUs section -->
                    <div class="tab-pane fade show active" id="aboutUs" role="tabpanel" aria-labelledby="aboutUs-tab">
                        <!-- slideShow -->
                        <div id="demo" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                                <li data-target="#demo" data-slide-to="0" class="active"></li>
                                <li data-target="#demo" data-slide-to="1"></li>
                                <li data-target="#demo" data-slide-to="2"></li>
                            </ul>

                            <!-- The slideshow -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'img/image4.jpg' %}" alt="عکس ۱" width="1000" height="450">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'img/image5.jpg' %}" alt=" عکس2" width="1000" height="450">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'img/image6.jpg' %}" alt="عکس3" width="1000" height="450">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>

                        </div>

                        <h2 class="my-5">درباره ما</h2>
                        <p class="text-secondary">{{ other.about_us }}</p>
                    </div><!-- /aboutUs section -->

                    <!-- how it work section -->
                    <div class="tab-pane fade" id="howItWork" role="tabpanel" aria-labelledby="howItWork-tab">
                        <h4>وب سایت ما چطوری کار میکنه</h4>
                        <hr>
                        <p class="bg-light p-4 border my-4">{{ other.how_work }}</p>

                    </div><!-- /how it work section -->

                    <!-- FAQ section -->
                    <div class="tab-pane fade" id="FAQ" role="tabpanel" aria-labelledby="FAQ-tab">
                        <h2>قوانین و مقررات</h2>
                        <p>{{ other.terms }}</p>
                    </div>
                    <!-- /FAQ section -->

                    <!-- FAQ section -->
                    <div class="tab-pane fade" id="search" role="tabpanel" aria-labelledby="search-tab">
                        <img src="{% static 'img/image4.jpg' %}" alt="عکس ۱" width="1000" height="450">
                        <h2 class="mt-4">جست و جو</h2>
                        <p>سیبسیبسیبسیبسیبسیب</p>
                    </div>
                    <!-- /FAQ section -->

                    <!-- FAQ section -->
                    <div class="tab-pane fade" id="price" role="tabpanel" aria-labelledby="price-tab">
                    <img src="{% static 'img/image5.jpg' %}" alt="عکس ۱" width="1000" height="450">
                        <h2 class="mt-4">قیمت</h2>
                        <p>سیبسیبسیبسیبسیبسیب</p>
                    </div>
                    <!-- /FAQ section -->

                    <!-- FAQ section -->
                    <div class="tab-pane fade" id="discount" role="tabpanel" aria-labelledby="discount-tab">
                    <img src="{% static 'img/image6.jpg' %}" alt="عکس ۱" width="1000" height="450">
                        <h2 class="mt-4">تخفیف</h2>
                        <p>سیبسیبسیبسیبسیبسیب</p>
                    </div>
                    <!-- /FAQ section -->

                </div>
            </div>
            <!-- /.col-md-8 -->
        </div>

    </div>
    <!-- /container -->
{% endblock content %}
