{% extends '_base.html' %}
{% load static %}
{% block title %}
    صفحه اصلی
{% endblock title %}
{% block extrahead %}
    <style>
        .inputStyle ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #c2c2c2;
            font-size: .9rem;
            text-align: right;
        }

        .inputStyle ::-moz-placeholder { /* Firefox 19+ */
            color: #c2c2c2;
            font-size: .9rem;
            text-align: right;
        }

        .inputStyle :-ms-input-placeholder { /* IE 10+ */
            color: #c2c2c2;
            font-size: .9rem;
            text-align: right;
        }

        .inputStyle :-moz-placeholder { /* Firefox 18- */
            color: #c2c2c2;
            font-size: .9rem;
            text-align: right;
        }
    </style>
{% endblock extrahead %}
{% block content %}
    <!-- Header -->
    <header class="masthead text-center">
        <div class="py-5">
            <h1 class="text-white display-5 font-weight-bolder py-2 px-2 headCaption rounded">تالار مورد نظرت رو اینجا
                پیدا کن!</h1>
            <h5 class="text-white headCaption py-2 rounded">بین هزاران هزار تالار مختلف، تالار دلخواهتو پیدا کن</h5>
            <form method="get" action="{% url 'venues_list' %}">
                <div class="input-group my-4 inputStyle">
                    <input id="headerSearch" type="text" class="form-control form-control-lg" name="search"
                           placeholder="نام تالار، شهر و یا منطقه مورد نظر را وارد کنید" required=""
                           title="لطفا اسم تالار، شهر، استان و یا منطقه مورد نظر را وارد کنید"
                           oninvalid="this.setCustomValidity('لطفا اسم تالار، شهر، استان و یا منطقه مورد نظر را وارد کنید')"
                           oninput="setCustomValidity('')">
                    <div class="input-group-append">
                        <button class="btn custom-btn px-4 rounded-right " type="submit">پیدا کن</button>
                    </div>

                </div>
            </form>
        </div>
    </header>
    <!-- /Header -->


    <!-- How it works Section -->
    <section class="howItWorks mt-5">
        <div class="container">
            <h2 class="text-center text-secondary">آشنایی با نحوه کار ما</h2>
            <hr class="divider">
            <div class="row">
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="mt-5">
                        <i class="fas fa-search mb-5 fa-4x text-purple"></i>
                        <h4 class="mb-4">جست و جو</h4>
                        <p class="text-secondary">میتونید بین هزاران تالار و باغ مکان مورد نظر خودتونین هزاران تالار و
                            باغ مکان مورد نظر خودتون رو جهت رو جهت اجرای مراسم پیدا کنید</p>
                        <a class="text-purple" href="{% url 'about_us' %}#search">بیشتر بدانید...</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="mt-5">
                        <i class="fas fa-dollar-sign mb-5 fa-4x text-purple"></i>
                        <h4 class="mb-4">قیمت</h4>
                        <p class="text-secondary">میتونید بین هزاران تالار و باغ مکان مورد نظر خودتون رو جهت اجرای مراسم
                            پیدا کنیدمیتونید ب مورد نظر خودتون رو جهت اجرای مراسم پیدا کنید</p>
                        <a class="text-purple" href="{% url 'about_us' %}#price">بیشتر بدانید...</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 text-center">
                    <div class="mt-5">
                        <i class="fas fa-percent mb-5 fa-4x text-purple"></i>
                        <h4 class="mb-4">تخفیف</h4>
                        <p class="text-secondary">میتونید بین هزاران تالار و باغ مکان مورد نظر خودتون ونید بین هزاران
                            تالار و باغ مکان مورد نظر خودتون رو جهت اجرای مراسم پیدا کنید</p>
                        <a class="text-purple" href="{% url 'about_us' %}#discount">بیشتر بدانید...</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /How it works Section -->

    <!-- Find your ideal Venues -->
    <section class="gallery-block compact-gallery bg-light mt-5 mb-2 py-5">
        <div class="container">
            <div class="heading m-0 mb-2">
                <h2 class="text-secondary text-left mb-4">تالار دلخواهتو پیدا کن</h2>
            </div>
            <div class="row no-gutters">
                {% for venue in HomeVenues %}
                <div class="col-md-6 col-lg-4 item zoom-on-hover">
                    <a href="{{ venue.get_absolute_url }}" class="lightbox">
                        <img class="img-fluid image" style="max-height: 270px;width: 100%;"
                             src="{{ venue.picture_url }}">
                        <span class="description">
                            <span class="description-heading">{{ venue.name }}</span>
                        </span>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- /Find your ideal Venues -->



    <div class="container text-center mb-5 mt-3">
        <a href="{% url 'venues_list' %}" class="text-purple font-weight-bolder">لیست تمامی تالارها و سالن ها...</a>
    </div>

{% endblock content %}