{% load widget_tweaks %}

<form method="post" action="">
    {% csrf_token %}
    <h3 class="mb-5 text-center" style="margin-top: 30px">ثبت نام</h3>

    <div class="modal-body">

        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>

        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" placeholder=field.label %}
                <div class="{% if field.errors %} invalid{% endif %}">
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn custom-btn btn-block my-4 py-2" formnovalidate="formnovalidate">
            ارسال درخواست
        </button>
    </div>

</form>
