{% extends "_base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block extrahead %}
    <style>
        body {
            background: #F5F5F5;
        }

        .submit-venue-form input {
            box-shadow: none !important;
        }
    </style>
{% endblock extrahead %}
{% block content %}
    <!-- main content -->

    <div class="container" style="min-height: 75vh;">

        <div class="submit-venue-page py-5 shadow-sm rounded text-secondary">
            <h4 class="text-center">فرم ثبت تالار</h4>

            <form class="submit-venue-form pt-4 px-4 small" action="{% url 'submit_venue' %}" method="post">
                {% csrf_token %}
                {#                {{ form }}#}
                <div class="form-row">
                    <!-- name and last name -->
                    <div class="form-group col-md-6 mt-3">
                        <input type="text" class="" id="inputNameAndLastName" required
                               oninvalid="this.setCustomValidity('پر کردن این فیلد الزامی است')"
                               oninput="setCustomValidity('')" name="user_name"
                               title="نام و نام خانوادگی خود را وارد نمائید">
                        <label for="inputNameAndLastName" class="label-name">
                            <span class="content-name">نام و نام خانوادگی</span>
                        </label>
                        {% for error in form.user_name.errors %}
                            <p class="my-0 text-danger rounded error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <!-- email -->
                    <div class="form-group col-md-6 mt-3">
                        <input type="email" class="" id="inputEmail" required
                               oninvalid="this.setCustomValidity('پر کردن این فیلد الزامی است ')"
                               oninput="setCustomValidity('')" name="email"
                               title="ایمیل خود را وارد نمائید. مانند example@gmail.com">
                        <label for="inputEmail" class="label-name">
                            <span class="content-name">ایمیل</span>
                        </label>
                        {% for error in form.email.errors %}
                            <p class="my-0 text-danger rounded error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-row">
                    <!-- phone number -->
                    <div class="form-group col-md-6 mt-4">
                        <span style="position: absolute;left: 30px;bottom: 12px;">۹۸+</span>
                        <input type="tel" class="text-right" style="padding-left: 50px;direction: ltr;"
                               pattern="[9]{1}[0-9]{9}" id="inputPhoneNumberHelper" required
                               oninvalid="this.setCustomValidity('شماره وارد شده صحیح نیست، شماره همراه را بدون صفر وارد نمائید')"
                               oninput="setCustomValidity('')" name="phone_number"
                               title=" شماره همراه خود را وارد نمائید. مانند ۹۱۲۲۲۲۲۲۲۲">


                        <label for="inputPhoneNumberHelper" class="label-name">
                            <span class="content-name">شماره همراه</span>
                        </label>
                        {% for error in form.phone_number.errors %}
                            <p class="my-0 text-danger rounded error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <!-- location -->
                    <div class="form-group col-md-6 mt-3">
                        <input type="text" class="" id="inputNameAndLastName" required
                               oninvalid="this.setCustomValidity('پر کردن این فیلد الزامی است')"
                               oninput="setCustomValidity('')" name="area"
                               title="شهر/منطقه/ادرس">
                        <label for="inputNameAndLastName" class="label-name">
                            <span class="content-name">شهر/منطقه/ادرس</span>
                        </label>
                        {% for error in form.area.errors %}
                            <p class="my-0 text-danger rounded error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-row">
                    <!-- venues name -->
                    <div class="form-group col-md-6 mt-4">
                        <input type="text" class="" id="venuesName" placeholder="" required
                               oninvalid="this.setCustomValidity('نام تالار را وارد نمائید')"
                               oninput="setCustomValidity('')" name="venue_name">
                        <label for="venuesName" class="label-name">
                            <span class="content-name">اسم تالار</span>
                        </label>
                        {% for error in form.venue_name.errors %}
                            <p class="my-0 text-danger rounded error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <!-- venues website -->
                    <div class="form-group col-md-6 mt-4">
                        <input type="text" class="" id="venuesWebsite" placeholder="" required
                               oninvalid="this.setCustomValidity('آردس وب‌سایت تالار را وارد نمائید')"
                               oninput="setCustomValidity('')" name="website">
                        <label for="venuesWebsite" class="label-name">
                            <span class="content-name">وب‌سایت تالار</span>
                        </label>
                        {% for error in form.website.errors %}
                            <p class="my-0 text-danger rounded error-message">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
                <!-- agreement -->
                <p class="font-weight-bolder small mt-5 mb-3 text-center text-dark">
                    با ارسال این درخواست، شما با تمامی
                    <a href="{% url 'about_us' %}#FAQ">قوانین و خط مشی‌های</a>
                    ما موافقت می‌کنید.
                </p>

                <div class="text-center">
                    <button type="submit" class="btn custom-btn w-100" style="max-width: 300px !important;">ثبت تالار
                    </button>
                </div>

            </form>

        </div>

    </div><!-- /container -->
    <!-- /main content -->

{% endblock content %}