{% extends "_base.html" %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block title %}{{ venue.name }}{% endblock %}
{% block extrahead %}
    <!-- Date Picker Farsi -->
    <link rel="stylesheet" href="{% static 'css/persian-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.md.bootstrap.datetimepicker.style.css' %}">
    <style>
        [v-cloak] {
            display: none;
        }

        .loading {
            text-align: center;
            margin: 150px;
        }

        #backToVenueBtn {
            background-color: #fff;
            color: #815;
            border: 1px solid #815;
        }

        #backToVenueBtn:hover {
            background-color: rgb(158, 20, 98);
            color: #fff;
            box-shadow: none;
            transition: .2s
        }

        #additionalCollapseOne .custom-checkbox .custom-control-input ~ .custom-control-label::before {
            border-radius: 3px;
        }

        #additionalCollapseOne .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
            background-color: rgb(168, 41, 113);
            border: none;
        }

        .inputStyle ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle ::-moz-placeholder { /* Firefox 19+ */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle :-ms-input-placeholder { /* IE 10+ */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle :-moz-placeholder { /* Firefox 18- */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        #guestsNumberInput:invalid + #guestsNumberInputError::after {
            content: "تعداد مهمان انتخابی با ظرفیت تالار مغایرت دارد";
            color: red;
            margin-top: 2px;
            font-size: .8rem;
        }

        #indexNavbar {
            display: none;
        }

        #indexFooter {
            display: none;
        }

        .custom-modal-content {
            position: relative;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 6px;
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            outline: 0;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
        }
    </style>
{% endblock extrahead %}
{% block content %}

    <div class="loading" id="loadingContent">
        <div class="spinner-grow text-dark" style="width: 7rem; height: 7rem;"></div>
        <P>درحال بارگیری</P>
    </div>

    <div class="container pt-5" id="estimate" style="display: none;">
        <div class="row justify-content-around">
            <!-- sidebar -->
            <div class="col-12 col-lg-3 col-xl-3 my-lg-5 mt-5 d-none d-lg-block">

                <div class="card border-0 shadow rounded-0 text-dark" style="min-width: 17rem;">
                    <div class="card-body text-center">
                        <h4 class="card-title font-weight-bold py-2">{{ venue.name }}</h4>
                        <div class="row justify-content-around py-2 px-3">
                            {% if not user.is_authenticated %}
                                <a href="#" class="login-btn row text-purple">
                                    <i class="login-btn far fa-phone fa-lg"></i>
                                    <p class="px-1">جهت تماس با تالار لطفاَ عضو شوید</p></a>
                            {% elif user.is_authenticated %}
                                <i class="fas fa-phone fa-lg text-purple"></i>
                                <a href="#" class="row text-purple" onclick="showNumber()" id="venuePhoneNumber">
                                    <p class="px-1" style="direction: ltr;">شماره تماس تالار</p>
                                </a>
                                <hr>
                                {% if request.user in venue.lovers.all %}
                                    <a href="#" class="row text-purple">
                                        <i name="heart" class="fas fa-heart fa-lg"></i>
                                        <p class="like-btn px-1" data-href='{{ venue.get_api_like_url }}'>مورد پسند</p>
                                    </a>
                                {% else %}
                                    <a href="#" class="row text-purple">
                                        <i name="heart" class=" far fa-heart fa-lg"></i>
                                        <p class="like-btn px-1" data-href='{{ venue.get_api_like_url }}'>پسندیدن</p>
                                    </a>
                                {% endif %}

                            {% endif %}
                            <a href="#" class="btn custom-btn d-block" style="width: 220px;" data-toggle="modal"
                               data-target="#contact">ارتباط
                                با تالار</a>
                        </div>

                    </div>
                </div>

                <!-- pricing sidebar card -->
                <div class="card border-0 shadow rounded-0 text-dark p-2 mt-3" style="min-width: 17rem">
                    <div class="card-body text-center">
                        <h5 class="card-title py-2">تخمین هزینه شما</h5>
                        <h2 class="text-purple">[[toPersianDigits(manualHumanize(estimatedValue))]]</h2>
                        <h3 class="text-purple">تومان</h3>

                        <hr>
                        <h5 class="card-title py-2">هزینه‌ها شامل</h5>

                        <div class="row justify-content-center" v-if="selectedFoodValue && selectedFoodValue!=0">
                            <h6 class="pr-2 pb-1">هزینه‌های غذا:</h6>
                            <span>[[toPersianDigits(manualHumanize(selectedFoodValue * numberOfGuests))]] تومان </span>
                            <p class="text-secondary small">
                                قیمت غذا: [[toPersianDigits(manualHumanize(selectedFoodValue))]] برای
                                [[toPersianDigits(manualHumanize(numberOfGuests))]] مهمان شما
                            </p>
                        </div>

                        <div class="row justify-content-center"
                             v-if="selectedBeverageValue && selectedBeverageValue!=0">
                            <h6 class="pr-2 pb-1">هزینه‌های نوشیدنی:</h6>
                            <span>[[toPersianDigits(manualHumanize(selectedBeverageValue * numberOfGuests))]] تومان </span>
                            <p class="text-secondary small">
                                قیمت نوشیدنی: [[toPersianDigits(manualHumanize(selectedBeverageValue))]] برای
                                [[toPersianDigits(manualHumanize(numberOfGuests))]] مهمان شما
                            </p>
                        </div>

                        <div class="row justify-content-center" v-if="selectedDayValue && selectedDayValue!=0">
                            <h6 class="pr-2 pb-1">ضریب روز رویداد:</h6>
                            <span>+[[toPersianDigits(selectedDayValue)]]%</span>
                            <p class="text-secondary small">
                                افزایش درصدی قیمت کل شما
                            </p>
                        </div>

                        <div class="row justify-content-center" v-if="selectedMonthValue && selectedMonthValue!=0">
                            <h6 class="pr-2 pb-1">ضریب ماه رویداد:</h6>
                            <span>+[[toPersianDigits(selectedMonthValue)]]%</span>
                            <p class="text-secondary small">
                                افزایش درصدی قیمت کل شما
                            </p>
                        </div>

                    </div>
                </div>

                <div class="card border-0 shadow rounded-0 text-dark mt-3" style="min-width: 17rem">
                    <div class="card-body text-center px-3">
                        <h5 class="card-title pb-3 text-left">ممکن است بپسندید</h5>
                            {% for SimVenue in venue.related_items %}
                            <hr class="mt-0">

                            <div class="card border-0" style="width: 15rem;">
                                <a href="{{ SimVenue.get_absolute_url }}"><img
                                        class="card-img-top mayYouLikePicture"
                                        src="{{ SimVenue.picture_url }}"
                                        alt="Card image cap"></a>
                                <div class="card-body pb-0">
                                    <a href="{{ SimVenue.get_absolute_url }}"><h6
                                            class="text-dark">{{ SimVenue.name }}</h6></a>
                                    <div class="row justify-content-center">
                                        <p class="card-text text-muted small">{{ SimVenue.area }}</p>
                                        <p class="card-text text-muted small pl-1">شروع قیمت از</p>
                                        <p class="card-text text-muted small pl-2">{{ SimVenue.min_price|intcomma:False }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div><!-- /sidebar -->


            <!-- main content -->
            <div class="col-12 col-lg-8 col-xl-9 my-4 my-lg-5">

                <h4 class="text-left bg-secondary text-light p-3  rounded-top">تخمین هزینه
                    برای {{ venue.name }}</h4>
                <!-- pricing section -->
                <section class="bg-white shadow my-3 p-4 text-secondary justify-content-center">

                    <h5>با تغییر هر کدام از مقادیر زیر قیمت بروز محاسبه خواهد شد:</h5>


                    <form class="pt-3 inputStyle">
                        <div class="form-group row">
                            <label for="guestsNumberInput" class="col-sm-4 col-xl-3 col-form-label">تعداد
                                مهمان‌ها</label>
                            <div class="col-sm-8 col-xl-9">
                                <input v-model="numberOfGuests" type="number" class="form-control"
                                       id="guestsNumberInput" value="" min="1" max="{{ venue.capacity }}"
                                       @change="estimate($event)"
                                       placeholder="تعداد مهمان های خود را وارد کنید"
                                       required
                                       oninvalid="this.setCustomValidity('تعداد میهمان انتخابی با ظرفیت تالار مغایرت دارد')"
                                       oninput="setCustomValidity('')"
                                       title="تعداد میهمان‌های خود را با توجه به ظرفیت تالار انتخاب کنید">
                                <span id="guestsNumberInputError"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="menuTypeInput" class="col-sm-4 col-xl-3 col-form-label">نوع منو غذا</label>
                            <div class="col-sm-8 col-xl-9">
                                <select v-model="selectedFoodValue" class="browser-default custom-select"
                                        id="menuTypeInput" @change="estimate($event)">
                                    <option value="" disabled selected>غذای مورد نظر خود را انتخاب کنید</option>
                                    {% for menu in venue.venue_menu.all %}
                                        <option value="{{ menu.value }}">{{ menu.key }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="beverageTypeInput" class="col-sm-4 col-xl-3 col-form-label">نوع
                                نوشیدنی</label>
                            <div class="col-sm-8 col-xl-9">
                                <select v-model="selectedBeverageValue" class="browser-default custom-select"
                                        id="beverageTypeInput" @change="estimate($event)">
                                    <option value="" disabled selected>نوشیدنی مورد نظر خود را انتخاب کنید</option>
                                    {% for beverage in venue.venue_beverage.all %}
                                        <option value="{{ beverage.value }}">{{ beverage.key }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="eventDayInput" class="col-sm-4 col-xl-3 col-form-label">روز رویداد</label>
                            <div class="col-sm-8 col-xl-9">
                                <select v-model="selectedDayValue" class="browser-default custom-select"
                                        id="eventDayInput" @change="estimate($event)"
                                        :disabled="!doesStartEstimation">
                                    <option value="" disabled selected>روز مورد نظر خود را انتخاب کنید</option>
                                    {% for day in venue.venue_day.all %}
                                        <option value="{{ day.value }}">{{ day.key }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="seasonInput" class="col-sm-4 col-xl-3 col-form-label">ماه رویداد</label>
                            <div class="col-sm-8 col-xl-9">
                                <select v-model="selectedMonthValue" class="browser-default custom-select"
                                        id="seasonInput" @change="estimate($event)"
                                        :disabled="!doesStartEstimation">
                                    <option value="" disabled selected>ماه مورد نظر خود را انتخاب کنید</option>
                                    {% for month in venue.venue_month.all %}
                                        <option value="{{ month.value }}">{{ month.key }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% if venue.venueestimate.Tax > 0 %}
                            <div class="form-group row">
                                <label for="seasonInput" class="col-sm-4 col-xl-3 col-form-label">مالیات بر ارزش
                                    افزوده</label>
                                <div class="col-sm-8 col-xl-9">
                                    <select v-model="tax" class="browser-default custom-select"
                                            id="seasonInput" @change="estimate($event)"
                                            :disabled="!doesStartEstimation">
                                        <option value="{{ venue.venueestimate.Tax }}"
                                                selected>{{ venue.venueestimate.Tax }}</option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                        {% if venue.venueestimate.base > 0 %}
                            <div class="form-group row">
                                <label for="seasonInput" class="col-sm-4 col-xl-3 col-form-label">هزینه پایه به ازای
                                    مهمان</label>
                                <div class="col-sm-8 col-xl-9">
                                    <select v-model="baseForEachGuest" class="browser-default custom-select"
                                            id="seasonInput" @change="estimate($event)"
                                            :disabled="!doesStartEstimation">
                                        <option value="{{ venue.venueestimate.base }}"
                                                selected>{{ venue.venueestimate.base|intcomma:False }}</option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                    </form>


                    <!-- additional options -->
                    <div class="panel-group pt-3" id="additionalAccordion" role="tablist"
                         aria-multiselectable="false">

                        <div class="filterSection text-secondary panel panel-default ">
                            <div class="panel-heading pb-3 justify-content-start" role="tab"
                                 id="additionalHeadingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#additionalAccordion"
                                       href="#additionalCollapseOne" aria-expanded="true"
                                       aria-controls="additionalCollapseOne" style="color: #af4f85;">
                                        گزینه های بیشتر
                                        <i class="fas fa-chevron-down" style="float:none;"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="additionalCollapseOne" class="panel-collapse collapse in pl-3" role="tabpanel"
                                 aria-labelledby="additionalHeadingOne">
                                <div class="panel-body">

                                    <div class="container row justify-content-start py-3 small">
                                        <div class="col-12 col-md-6">
                                            <form>
                                                {% for option in venue.venue_other.all %}
                                                    <div class="custom-control custom-checkbox pt-1">
                                                        <input type="checkbox" class="custom-control-input"
                                                               id="OptionCheckboxes{{ forloop.counter }}"
                                                               name="additionalCheckboxes"
                                                               v-model="venueOptionsIndexes[{{ forloop.counter }}]"
                                                               @change="estimate($event)">
                                                        <label class="custom-control-label"
                                                               for="OptionCheckboxes{{ forloop.counter }}">{{ option.key }}
                                                            (+{{ option.value|intcomma:False }}
                                                            تومان)</label>
                                                    </div>
                                                {% endfor %}
                                            </form>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <form>
                                                {% for co_option in venue.venue_co_other.all %}
                                                    <div class="custom-control custom-checkbox pt-1">
                                                        <input type="checkbox" class="custom-control-input"
                                                               id="CoOptionCheckboxes{{ forloop.counter }}"
                                                               name="additionalCheckboxes"
                                                               v-model="venueCoOptionsIndexes[{{ forloop.counter }}]"
                                                               @change="estimate($event)"
                                                               :disabled="!doesStartEstimation">
                                                        <label class="custom-control-label"
                                                               for="CoOptionCheckboxes{{ forloop.counter }}">{{ co_option.key }}
                                                            (+{{ co_option.value }} %)</label>
                                                    </div>
                                                {% endfor %}
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <!-- cost details section -->
                <section class="bg-white shadow my-3 py-4 px-2 px-md-5">

                    <!-- cost details accordion -->
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">

                        <!-- venue costs -->
                        <div class="filterSection text-secondary panel panel-default small">
                            <div class="panel-heading pb-4 justify-content-start" role="tab"
                                 id="venueCostsHeadingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#venueCostsCollapseOne" aria-expanded="true"
                                       aria-controls="venueCostsCollapseOne">
                                        <i class="fas fa-chevron-down" style="float:none;"></i>
                                        هزینه‌های سالن
                                        <h4 style="float: left;">[[toPersianDigits(manualHumanize(baseForEachGuest *
                                            numberOfGuests))]] تومان</h4>
                                    </a>
                                </h4>
                            </div>
                            <div id="venueCostsCollapseOne" class="panel-collapse collapse in pl-3" role="tabpanel"
                                 aria-labelledby="venueCostsHeadingOne">
                                <div class="panel-body">

                                    <div class="container justify-content-start px-0 mx-0 pb-2">

                                        <p class="text-dark font-weight-bold my-2">هزینه‌های اجاره:</p>
                                        <table class="table table-borderless table-hover">
                                            <tbody>
                                            <tr>
                                                <td width="50%" class="pt-1 pb-0">نرخ اجاره</td>
                                                <td width="50%" class="pt-1 pb-0">
                                                    [[toPersianDigits(manualHumanize(baseForEachGuest *
                                                    numberOfGuests))]] تومان
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%" class="pt-1 pb-0">تعداد مهمانان</td>
                                                <td width="50%" class="pt-1 pb-0">
                                                    [[toPersianDigits(manualHumanize(numberOfGuests))]] نفر
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%" class="pt-1 pb-0">قیمت به ازای هر مهمان</td>
                                                <td width="50%" class="pt-1 pb-0">
                                                    [[toPersianDigits(manualHumanize(baseForEachGuest))]] تومان
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr class="pb-3">
                        <!-- venue notes -->
                        <div class="filterSection text-secondary panel panel-default small">
                            <div class="panel-heading pb-3 justify-content-start" role="tab"
                                 id="venueCostsHeadingTwo">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#venueCostsCollapseTwo" aria-expanded="true"
                                       aria-controls="venueCostsCollapseTwo">
                                        <i class="fas fa-chevron-down" style="float:none;"></i>
                                        هزینه‌های پذیرایی
                                        <h4 class="pt-0 mt-0" style="float: left;">
                                            [[toPersianDigits(manualHumanize(allReceptionValue))]] تومان
                                        </h4>
                                    </a>
                                </h4>
                            </div>
                            <div id="venueCostsCollapseTwo" class="panel-collapse collapse in pl-3" role="tabpanel"
                                 aria-labelledby="venueCostsHeadingTwo">
                                <div class="panel-body">

                                    <div class="container justify-content-start px-0 mx-0 pb-2">

                                        <p class="text-dark font-weight-bold my-2">هزینه های غذا:</p>
                                        <table class="table table-borderless table-hover">
                                            <tbody>
                                            <tr>
                                                <td width="50%" class="pt-1 pb-0">هزینه وعده اصلی</td>
                                                <td width="50%" class="pt-1 pb-0">
                                                    [[toPersianDigits(manualHumanize(foodGuests))]] تومان
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%" class="pt-1 pb-0">هزینه غذا به ازای هر نفر:</td>
                                                <td width="50%" class="pt-1 pb-0">
                                                    [[toPersianDigits(manualHumanize(selectedFoodValue))]] تومان
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%" class="pt-1 pb-0">تعداد مهمانان:</td>
                                                <td width="50%" class="pt-1 pb-0">
                                                    [[toPersianDigits(manualHumanize(numberOfGuests))]] نفر
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                        <p class="text-dark font-weight-bold my-2">هزینه های نوشیدنی:</p>
                                        <table class="table table-borderless table-hover">
                                            <tbody>
                                            <tr>
                                                <td width="50%" class="pt-1 pb-0">هزینه نوشیدنی</td>
                                                <td width="50%" class="pt-1 pb-0">
                                                    [[toPersianDigits(manualHumanize(beverageGuests))]] تومان
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%" class="pt-1 pb-0">هزینه نوشیدنی به ازای هر نفر:</td>
                                                <td width="50%" class="pt-1 pb-0">
                                                    [[toPersianDigits(manualHumanize(selectedBeverageValue))]] تومان
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="50%" class="pt-1 pb-0">تعداد مهمانان:</td>
                                                <td width="50%" class="pt-1 pb-0">
                                                    [[toPersianDigits(manualHumanize(numberOfGuests))]] نفر
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr class="pb-3">
                        <!-- Amenities and Restrictions -->
                        <div class="filterSection text-secondary panel panel-default small pb-3">
                            <div class="panel-heading pb-3 active" role="tab" id="venueCostsHeadingThree">
                                <h4 class="panel-title">
                                    <a class="" style="color: #af4f85;" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#venueCostsCollapseThree" aria-expanded="true"
                                       aria-controls="venueCostsCollapseThree">
                                        <i class="fas fa-chevron-down text-purple" style="float: none;"></i>
                                        مجموع کل هزینه‌ها
                                        <h4 class="" class="text-purple" style="float: left;">
                                            [[toPersianDigits(manualHumanize(estimatedValue))]] تومان</h4>

                                    </a>
                                </h4>
                            </div>
                            <div id="venueCostsCollapseThree" class="panel-collapse collapse in pl-3 show"
                                 role="tabpanel" aria-labelledby="venueCostsHeadingThree">
                                <div class="panel-body" style="position: relative;">

                                    <table class="table table-borderless table-hover text-dark">
                                        <tbody>
                                        <tr>
                                            <td width="50%" class="pt-1 pb-0">هزینه‌های تالار</td>
                                            <td width="50%" class="pt-1 pb-0">
                                                [[toPersianDigits(manualHumanize(baseForEachGuest *
                                                numberOfGuests))]] تومان

                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="pt-1 pb-0">هزینه‌های پذیرایی</td>
                                            <td width="50%" class="pt-1 pb-0">
                                                [[toPersianDigits(manualHumanize(allReceptionValue))]] تومان

                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="pt-1 pb-0">سایر هزینه ها</td>
                                            <td width="50%" class="pt-1 pb-0">
                                                [[toPersianDigits(manualHumanize(otherCosts))]] تومان

                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="pt-1 pb-0">جمع هزینه ها</td>
                                            <td width="50%" class="pt-1 pb-0">
                                                [[toPersianDigits(manualHumanize(estimatedWithoutTax))]] تومان

                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="pt-1 pb-0">مالیات بر ارزش افزوده</td>
                                            <td width="50%" class="pt-1 pb-0">
                                                [[toPersianDigits(manualHumanize(tax))]]%
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <hr width="65%">
                                    <table class="table table-borderless table-hover text-dark font-weight-bold">
                                        <tbody>
                                        <tr>
                                            <td width="50%" class="pt-1 pb-0">کل هزینه‌ها</td>
                                            <td width="50%" class="pt-1 pb-0">
                                                [[toPersianDigits(manualHumanize(estimatedValue))]] تومان
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="50%" class="pt-1 pb-0">هزینه هر نفر</td>
                                            <td width="50%" class="pt-1 pb-0">
                                                [[toPersianDigits(manualHumanize(eachGuestValue))]] تومان
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!-- Button to Open the contact Modal -->
                                    <button type="button" class="btn custom-btn d-none d-md-block "
                                            data-toggle="modal" data-target="#contact"
                                            style="position: absolute;left: 10px;bottom: 0px;">
                                        تماس با {{ venue.name }}
                                    </button>

                                    <div class="bg-white shadow-lg text-center d-lg-none fixed-bottom">
                                        <div class="row py-2 justify-content-center">
                                            <h5>مجموع هزینه‌ها:</h5>
                                            <h5 class="text-purple ml-3">
                                                [[toPersianDigits(manualHumanize(estimatedValue))]] تومان</h5>
                                        </div>
                                        <button type="button" class="btn custom-btn mb-1" data-toggle="modal"
                                                data-target="#contact" style="width: 90%;">
                                            تماس با تالار
                                        </button>
                                    </div>

                                    <!-- contact form modal -->
                                    <div class="modal fade" tabindex="-1" role="dialog" id="contact"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="custom-modal-content">
                                                <div class="">
                                                    <h5 class="modal-title py-3 text-center">تماس با
                                                        تالار {{ venue.name }}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"
                                                            style="position: absolute;left: 10px;top: 10px;padding: 10px;">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body px-lg-5">
                                                    <form method="POST" action="#"
                                                          class="text-left text-secondary inputStyle">
                                                        {% csrf_token %}
                                                        <div class="form-row">
                                                        </div>
                                                        <div class="form-row mt-3">
                                                            <!-- phone number -->
                                                            <div class="form-group col-md-6">
                                                                <label for="inputPhoneNumber">شماره همراه</label>
                                                                <input type="tel" name="phone_number"
                                                                       maxlength="128"
                                                                       pattern="+[0-9]{13}" style="direction: ltr"
                                                                       class="form-control border-left-0 border-top-0 border-right-0 rounded-0 text-right"
                                                                       placeholder="مثال: +۹۸۹۱۲۳۴۵۶۷۸۹"
                                                                       id="inputPhoneNumber" required=""
                                                                       oninvalid="this.setCustomValidity('شماره وارد شده صحیح نیست، شماره همراه را بدون صفر وارد نمائید')"
                                                                       oninput="setCustomValidity('')"
                                                                       title="شماره همراه خود را وارد نمائید">
                                                                {% for error in form.phone_number.errors %}
                                                                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                                                {% endfor %}
                                                            </div>
                                                            <!-- guests number -->
                                                            <div class="form-group col-md-6">
                                                                <label for="inputGuestNumber">تعداد مهمانان</label>
                                                                <input type="number" name="number_of_guests" min="1"
                                                                       max="10000"
                                                                       placeholder="تعداد تقریبی مهمانان"
                                                                       id="inputGuestNumber"
                                                                       class="outline-0 form-control border-left-0 border-top-0 border-right-0 rounded-0"
                                                                       required=""
                                                                       oninvalid="this.setCustomValidity('فیلد تعداد مهمان نمیتواند خالی باشد')"
                                                                       oninput="setCustomValidity('')"
                                                                       title="لطفا تعداد مهمان‌های خود را وارد نمائید">
                                                                {% for error in form.number_of_guests.errors %}
                                                                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="form-row mt-3">
                                                            <!-- cantact reason -->
                                                            <div class="form-group col-md-6">
                                                                <label for="inputReason">دلیل تماس</label>
                                                                <input type="text" name="contact_reason"
                                                                       placeholder="مثال: جهت رزرو" maxlength="60"
                                                                       class="form-control border-left-0 border-top-0 border-right-0 rounded-0"
                                                                       id="inputReason" required=""
                                                                       oninvalid="this.setCustomValidity('دلیل تماس خود را با تالار بنوسیسد')"
                                                                       oninput="setCustomValidity('')"
                                                                       title="دلیل تماس با تالار را بنویسید">
                                                                {% for error in form.contact_reason.errors %}
                                                                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                                                {% endfor %}
                                                            </div>
                                                            <!-- Date select -->
                                                            <div class="form-group col-md-6">
                                                                <label for="inputDate3">انتخاب تاریخ و زمان مد
                                                                    نظر</label>
                                                                <label id="showDate_class"> </label>
                                                                <input type="text" autocomplete="off"
                                                                       name="preferred_wedding_date"
                                                                       class=" form-control border-left-0 border-top-0 border-right-0 rounded-0"
                                                                       id="inputDate3"
                                                                       required="" data-mdpersiandatetimepicker=""
                                                                       data-original-title=""
                                                                       oninvalid="this.setCustomValidity('تاریخ مورد نظر جهت رزرو را انتخاب کنید')"
                                                                       oninput="setCustomValidity('')">
                                                                {% for error in form.preferred_wedding_date.errors %}
                                                                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="form-group custom-control custom-checkbox mt-3">
                                                            {% render_field form.flexible_dates type="checkbox" class="custom-control-input border-left-0 border-top-0 border-right-0 rounded-0" id="customCheck" %}
                                                            {% for error in form.flexible_dates.errors %}
                                                                <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                                            {% endfor %}
                                                            <label class="custom-control-label pt-1"
                                                                   for="customCheck">روزهای
                                                                انتخابی من میتونه تغییر کنه</label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputNote">پیام شما</label>
                                                            {% for error in form.message.errors %}
                                                                <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                                            {% endfor %}
                                                            {% render_field form.message name="inputNote" id="inputNote" cols="30" rows="4" class="form-control" %}
                                                        </div>
                                                        <p class="font-weight-bolder">
                                                            با ارسال این درخواست، شما با تمامی
                                                            <a href="{% url 'about_us' %}#FAQ">قوانین و خط
                                                                مشی‌های</a>
                                                                ما موافقت می‌کنید.
                                                            </p>
                                                            <div class="row justify-content-end my-2 pr-2">
                                                                <button type="submit" class="btn text-secondary"
                                                                        data-dismiss="modal" aria-label="Close">انصراف
                                                                </button>
                                                                <button type="submit" class="btn custom-btn">ارسال
                                                                    درخواست
                                                                </button>
                                                            </div>
                                                        </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <!-- /additional details section -->

                <section class="bg-white text-left shadow my-3 py-3 px-5">
                    <h5 class="py-2">نکاتی در مورد کل هزینه‌ها</h5>
                    <p class="text-secondary small">با ارسال این درخواست، شما با تمامیبا ارسال این درخواست، شما با
                        تمامیبا ارسال این درخواست، شما با تمامیبا ارسال این درخواست، شما با تمامیبا ارسال این درخو
                        است،
                        شما با تمام یبا ارسال این در خواست، شما با تما می ارسال این در خواست، شما ب ارسال این در
                        خواست،
                        شما ببا ارسال این درخ واست، شما با تمام یبا ارسال این درخواست، شم ا با تمام یبا ارسال این
                        درخواست، شما با تمامیبا ارسال این درخواست، شما با تمامی</p>
                </section><!-- /interested section -->


            </div><!-- /main content -->

        </div> <!-- /container -->
    </div>

    {% if venue.lovers.count >= 1 %}
        <div class="alert alert-dismissible fade show small rounded-0"
             style="position: fixed;bottom: 10px;right: 15px;left: 15px;;z-index: 10;max-width: 350px;color: white;background-color: rgba(73, 73, 74, .92);">
            <button type="button" class="close" data-dismiss="alert" style="color: white;">×</button>
            <strong style="font-size: .9rem;margin-left: 4px;">{{ venue.lovers.count }}</strong> نفر تا
            کنون این تالار را پسندیده است
        </div>
    {% endif %}
    <div class="alert alert-dismissible fade show small rounded-0"
         style="position: fixed;bottom: 10px;left: 10px;z-index: 10;max-width: 600px; color: white;background-color: rgba(73, 73, 74, .92);">
        <button type="button" class="close" data-dismiss="alert">×</button>
        از آخرین بروزرسانی اطلاعات این تالار{#            <strong>{{ venue.updated_time|date:"D d F Y " }}</strong>#}
        <strong>{{ venue.updated_time|timesince }}</strong>
        می گذرد

    </div>

{% endblock content %}

{% block scripts %}
    <!-------------- Script --------------->
    <!-- JQuery -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- Date Picker Farsi -->
    <script src="{% static 'js/jquery.md.bootstrap.datetimepicker.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- My custom JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
    <!-- Modals JavaScript -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <!-- FontAwesome -->
    <script src="{% static 'js/all.js' %}"></script>
{% endblock scripts %}


{% block extrascripts %}
    <!--------------- Scripts ------------>
    {#we most change that with production vue#}
    <script src="{% static 'js/vue.js' %}"></script>
    <script>
        venueCoOptions = [];
        venueOptions = [];

        {% for co_option in venue.venue_co_other.all %}
            venueCoOptions.push({{ co_option.value|safe }});
        {% endfor %}

        {% for option in venue.venue_other.all %}
            venueOptions.push({{ option.value|safe }});
        {% endfor %}

        new Vue({
            delimiters: ['[[', ']]'],
            el: '#estimate',
            created() {
                setTimeout(() => {
                    this.loading = false;
                }, 1000);
            },
            data: {

                doesStartEstimation: false,

                numberOfGuests: '1',
                selectedDayValue: '',
                selectedMonthValue: '',
                selectedFoodValue: '',
                selectedBeverageValue: '',
                estimatedValue: '۰',
                estimatedWithoutTax: '0',

                venueCoOptionsIndexes: [],
                venueCoOptions: venueCoOptions,

                venueOptionsIndexes: [],
                venueOptions: venueOptions,

                loading: true,


                {% if venue.venueestimate.base  %}
                    baseForEachGuest: {{ venue.venueestimate.base }},
                {% else %}
                    baseForEachGuest: 0,
                {% endif %}

                {% if venue.venueestimate.Tax  %}
                    tax: {{ venue.venueestimate.Tax }},
                {% else %}
                    tax: 0,
                {% endif %}

                foodGuests: '',
                beverageGuests: '',
                allReceptionValue: '',

                eachGuestValue: '',
                otherCosts: '',
            },
            methods: {
                startEstimation: function () {
                    guests = parseInt(this.numberOfGuests);
                    dayValue = parseFloat(this.selectedDayValue);
                    monthValue = parseFloat(this.selectedMonthValue);
                    foodValue = parseInt(this.selectedFoodValue);
                    beverageValue = parseInt(this.selectedBeverageValue);

                    this.estimatedValue = (foodValue + beverageValue) * guests * monthValue * dayValue;
                    this.estimated = true;
                },
                estimate: function (event) {
                    {#estimation part one#}
                    guests = parseInt(this.numberOfGuests);

                    dayValue = parseFloat(this.selectedDayValue);
                    monthValue = parseFloat(this.selectedMonthValue);

                    foodValue = parseInt(this.selectedFoodValue);
                    beverageValue = parseInt(this.selectedBeverageValue);

                    baseForEachGuest = parseInt(this.baseForEachGuest);
                    tax = parseFloat(this.tax);


                    {#check the guests food and beverage#}
                    if (guests <= 0 || isNaN(guests)) {
                        this.doesStartEstimation = false;
                        this.estimatedValue = '۰';
                        return;
                    }

                    if ((foodValue === 0 || isNaN(foodValue)) && (beverageValue === 0 || isNaN(beverageValue))) {
                        this.doesStartEstimation = false;
                        this.estimatedValue = '۰';
                        return;
                    }


                    this.doesStartEstimation = true;

                    guests = guests !== 0 && !isNaN(guests) ? guests : 1;
                    dayValue = !isNaN(dayValue) ? dayValue : 0;
                    monthValue = !isNaN(monthValue) ? monthValue : 0;
                    foodValue = isNaN(foodValue) ? 0 : foodValue;
                    beverageValue = isNaN(beverageValue) ? 0 : beverageValue;

                    {#Just receptions#}
                    this.allReceptionValue = (foodValue + beverageValue) * guests;
                    this.foodGuests = foodValue * guests;
                    this.beverageGuests = beverageValue * guests;

                    this.estimatedValue = (foodValue + beverageValue) * guests;
                    this.estimatedValue += guests * baseForEachGuest;
                    {#console.log('1****************************');#}
                    {#console.log(this.estimatedValue);#}


                    {#day month tax#}
                    this.estimatedValue *= (100 + monthValue) / 100 * (100 + dayValue) / 100;
                    {#console.log('2****************************');#}
                    {#console.log(this.estimatedValue);#}

                    let baseCosts = this.estimatedValue * (tax + 100) / 100;
                    {#console.log('1*********************');#}
                    {#console.log(baseCosts);#}
                    {#estimation part two#}
                    for (i = 0; i < this.venueCoOptionsIndexes.length; i++) {
                        if (this.venueCoOptionsIndexes[i] === true) {
                            coOption = this.venueCoOptions[i - 1];
                            coOption = parseFloat(coOption);
                            coOption = !isNaN(coOption) ? coOption : 0;
                            this.estimatedValue *= (100 + coOption) / 100;
                        }
                    }
                    {#estimation part three#}
                    for (i = 0; i < this.venueOptionsIndexes.length; i++) {
                        if (this.venueOptionsIndexes[i] === true) {
                            option = this.venueOptions[i - 1];
                            option = parseInt(option);
                            option = option !== 0 && !isNaN(option) ? option : 0;
                            this.estimatedValue += option;
                        }
                    }
                    this.estimatedWithoutTax = Number((this.estimatedValue).toFixed(0));
                    this.estimatedValue *= (tax + 100) / 100;

                    this.otherCosts = this.estimatedValue - baseCosts;
                    this.otherCosts = Number((this.otherCosts).toFixed(0));


                    {#rounding the number#}
                    this.estimatedValue = Number((this.estimatedValue).toFixed(0));

                    this.eachGuestValue = Number((this.estimatedValue / guests).toFixed(0));
                    {#check if it is lower than zero#}
                    if (this.estimatedValue < 0) {
                        this.estimatedValue = 'ورودی نادرست';
                    }

                },
                toPersianDigits: function (str) {
                    var id = ['۰', '۱', '۲', '۳', '۴', '۵', '۶', '۷', '۸', '۹'];
                    return str.replace(/[0-9]/g, function (w) {
                        return id[+w]
                    });
                },
                manualHumanize: function (str) {
                    return str.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                }
            },
        })
        ;
    </script>

    <!-- JQuery -->

    <script>
        $(document).ready(function () {

            $('#loadingContent').css({'display': 'none'});
            $('#estimate').css({'display': 'block'});
            $('#indexNavbar').css({'display': 'flex'});
            $('#indexFooter').css({'display': 'block'});

            function Liked(btn) {
                btn.text(" " + "مورد پسند");
                btn.closest('div').find('svg[name="heart"]').attr('data-prefix', 'fas');
            }

            function DisLiked(btn) {
                btn.text(" " + "پسندیدن");
                btn.closest('div').find('svg[name="heart"]').attr('data-prefix', 'far');
            }

            $(".like-btn").click(function (e) {
                e.preventDefault();
                let this_ = $(this);
                let likeUrl = this_.attr("data-href");
                let likeCount = parseInt(this_.attr("data-likes")) | 0;
                if (likeUrl) {
                    $.ajax({
                        url: likeUrl,
                        method: "GET",
                        data: {},
                        success: function (data) {
                            console.log(data);
                            let newLikes;
                            if (data.liked) {
                                Liked(this_)
                            } else {
                                DisLiked(this_)
                                // remove one like
                            }
                        }, error: function (error) {
                            console.log(error);
                            console.log("error")
                        }
                    })
                }

            })
        })
    </script>
    {% if  form.errors %}
        <script>
            // open cantact form modal on page load
            $(window).on('load', function () {
                $('#contact').modal('show');
            });
        </script>
    {% endif %}

    <!-- show venue number on click -->
    <script>
        function showNumber() {
            document.getElementById("venuePhoneNumber").innerHTML = "{{ venue.phone }}";
        }
    </script>

{% endblock extrascripts %}