{% extends '_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% load leaflet_tags %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" media="all"/>
    {% leaflet_css %}
    <style>

        .leaflet-container { /* all maps */
            width: 800px;
            height: 600px;
        }

        #specialbigmap {
            height: 800px;
        }

        /* Resize the "display_raw" textbox */
        .django-leaflet-raw-textarea {
            width: 100%;
        /
        }

    </style>

{% endblock %}
{% block content %}
    <a href="#sidebar" id="filterMobileButton" data-toggle="collapse"
       class="btn bg-secondary text-white w-100 rounded-0"><i class="fas fa-filter"></i>فیلترها</a>
    <div class="container mt-lg-4">
        <div class="row justify-content-center">

            <div class="col-12 col-lg-3">
                <!-- sideBar Filter -->
                <div class="sidebarFilter collapse overflowHidden in dont-collapse-sm sidebar" id="sidebar">

                    <!-- clear filters -->
                    <a href="{% url 'venues_list' %}" class="small font-weight-bolder text-purple pl-4">پاک کردن تمامی
                        فیلترها</a>
                    <hr class="mt-1">
                    <div class="panel-group overflowAuto style-1 px-1" id="accordion" role="tablist"
                         aria-multiselectable="false">
                        <form>
                            {% if filter.form.search.value %}
                                <div class="filterSection panel panel-default">
                                    <input type="hidden" id="custId" name="search"
                                           value="{{ filter.form.search.value }}"
                                           placeholder="نام منطقه یا تالار">
                                </div>
                                کلمه مورد جستجو :{{ filter.form.search.value }}
                                <hr>
                            {% endif %}

                            <!-- region section -->
                            <div class="filterSection panel panel-default small">
                                <div class="panel-heading active" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseOne"
                                           aria-expanded="true" aria-controls="collapseOne">
                                            <i class="fas fa-chevron-down text-purple"></i>
                                            <div class="d-flex">
                                                <i class="fas fa-map-marker-alt mt-1 text-muted"></i>
                                                <p class="my-1 pl-2">منطقه</p>
                                            </div>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne"
                                     class="panel-collapse collapse in show pl-3 overflowAuto maxHeight"
                                     role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        {% for area in Areas %}
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="Check-{{ area.id }}"
                                                       name="area" value="{{ area.id }}"
                                                       {% if  area.id|stringformat:'s' in filter.form.area.value %}checked=""{% endif %}>
                                                <label class="custom-control-label"
                                                       for="Check-{{ area.id }}">{{ area.name }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- style section -->
                            <div class="filterSection panel panel-default small">
                                <div class="panel-heading active" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <i class="fas fa-chevron-down text-purple"></i>
                                            <div class="d-flex">
                                                <i class="fas fa-glass-martini mt-1 text-muted"></i>
                                                <p class="my-1 pl-2 ">سبک</p>
                                            </div>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo"
                                     class="panel-collapse collapse in show pl-3 overflowAuto maxHeight"
                                     role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        {% for style in Styles %}
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="CheckStyle-{{ style.id }}"
                                                       name="styles" value="{{ style.id }}"
                                                       {% if  style.id|stringformat:'s' in filter.form.styles.value %}checked=""{% endif %}>
                                                <label class="custom-control-label"
                                                       for="CheckStyle-{{ style.id }}">{{ style.name }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- Budget section -->
                            <div class="filterSection panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">

                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fas fa-chevron-down text-purple"></i>
                                            <div class="d-flex">
                                                <i class="fas fa-coins mt-1 text-muted"></i>
                                                <p class="my-1 pl-2 ">
                                                    بودجه
                                                    {% if not filter.form.min_price.value.0 %}
                                                    {% elif filter.form.min_price.value.0 == "1" %}
                                                        <span>:همه</span>
                                                    {% else %}
                                                        <span>:بیش از{{ filter.form.min_price.value|first | intcomma:False }}تومان</span>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree"
                                     class="panel-collapse collapse small pl-3 overflowAuto maxHeight"
                                     role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="budgetRadio1"
                                                   name="min_price_min"
                                                   value="1"
                                                   {% if filter.form.min_price.value.0 == "1" %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="budgetRadio1">همه</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="budgetRadio2"
                                                   name="min_price_min" value="5000000"
                                                   {% if filter.form.min_price.value.0 == "5000000" %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="budgetRadio2"> تا ۵,۰۰۰,۰۰۰
                                                تومان</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="budgetRadio3"
                                                   name="min_price_min" value="10000000"
                                                   {% if filter.form.min_price.value.0 == "10000000" %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="budgetRadio3">تا ۱۰,۰۰۰,۰۰۰
                                                تومان</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="budgetRadio4"
                                                   name="min_price_min" value="20000000"
                                                   {% if filter.form.min_price.value.0 == "20000000" %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="budgetRadio4">تا ۲۰,۰۰۰,۰۰۰
                                                تومان</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="budgetRadio5"
                                                   name="min_price_min" value="30000000"
                                                   {% if filter.form.min_price.value.0 == "30000000" %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="budgetRadio5">تا ۱۰,۰۰۰,۰۰۰
                                                تومان</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="budgetRadio6"
                                                   name="min_price_min" value="50000000"
                                                   {% if filter.form.min_price.value.0 == "50000000" %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="budgetRadio6">تا ۵۰,۰۰۰,۰۰۰
                                                تومان</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- guests section -->
                            <div class="filterSection panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                            <i class="fas fa-chevron-down text-purple"></i>
                                            <div class="d-flex">
                                                <i class="fas fa-user-friends mt-1 text-muted"></i>
                                                <p class="my-1 pl-2 ">
                                                    مهمان
                                                    {% if not filter.form.capacity.value.0 %}
                                                    {% elif filter.form.capacity.value.0 == "1" %}
                                                        :همه
                                                    {% else %}
                                                        :{{ filter.form.capacity.value.0 }}نفر
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse small pl-3 overflowAuto maxHeight"
                                     role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="guestsRadio1"
                                                   name="capacity_min" value="1"
                                                   {% if filter.form.capacity.value.0 == '1' %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="guestsRadio1">همه
                                            </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="guestsRadio2"
                                                   name="capacity_min" value="100"
                                                   {% if filter.form.capacity.value.0 == '100' %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="guestsRadio2">تا ۱۰۰ نفر</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="guestsRadio3"
                                                   name="capacity_min" value="150"
                                                   {% if filter.form.capacity.value.0 == '150' %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="guestsRadio3">تا ۱۵۰ نفر</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="guestsRadio4"
                                                   name="capacity_min" value="200"
                                                   {% if filter.form.capacity.value.0 == '200' %}checked=""{% endif %}>

                                            <label class="custom-control-label" for="guestsRadio4">تا ۲۰۰ نفر</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="guestsRadio5"
                                                   name="capacity_min" value="250"
                                                   {% if filter.form.capacity.value.0 == '250' %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="guestsRadio5">تا ۲۵۰ نفر</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="guestsRadio6"
                                                   name="capacity_min" value="300"
                                                   {% if filter.form.capacity.value.0 == '300' %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="guestsRadio6">تا ۳۰۰ نفر</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="guestsRadio7"
                                                   name="capacity_min" value="350"
                                                   {% if filter.form.capacity.value.0 == '350' %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="guestsRadio7">تا ۳۵۰ نفر</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="guestsRadio8"
                                                   name="capacity_min" value="400"
                                                   {% if filter.form.capacity.value.0 == '400' %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="guestsRadio8">تا ۴۰۰ نفر</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="guestsRadio9"
                                                   name="capacity_min" value="450"
                                                   {% if filter.form.capacity.value.0 == '450' %}checked=""{% endif %}>

                                            <label class="custom-control-label" for="guestsRadio9">تا ۴۵۰ نفر</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="guestsRadio10"
                                                   name="capacity_min" value="1000"
                                                   {% if filter.form.capacity.value.0 == '1000' %}checked=""{% endif %}>
                                            <label class="custom-control-label" for="guestsRadio10">بیشتر از ۵۰۰
                                                نفر</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!-- services section -->
                            <div class="filterSection panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                            <i class="fas fa-chevron-down text-purple"></i>
                                            <div class="d-flex">
                                                <i class="fas fa-concierge-bell mt-1 text-muted"></i>
                                                <p class="my-1 pl-2 ">سرویس‌ها</p>
                                            </div>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse small pl-3 overflowAuto maxHeight"
                                     role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        {% for service in Services %}
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input"
                                                       id="CheckService-{{ service.id }}"
                                                       name="services" value="{{ service.id }}"
                                                       {% if  service.id|stringformat:'s' in filter.form.services.value %}checked=""{% endif %}>
                                                <label class="custom-control-label"
                                                       for="CheckService-{{ service.id }}">{{ service.name }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- filter button -->
                            <button type="submit" class="btn custom-btn btn-block mt-4 mb-2">اعمال فیلتر</button>

                        </form>
                    </div>
                </div>
                <!-- /sideBar Filter -->
            </div>


            <!-- main content -->
            <div class="venues-list col-12 col-lg-9">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active small font-weight-bold text-purple" data-toggle="tab"
                           href="#listViewTab">
                            <div class="row px-2">
                                <i class="fas fa-list fa-lg"></i>
                                <p class="pl-2 m-0">نمای لیست</p>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link small font-weight-bold text-purple" data-toggle="tab" href="#mapViewTab"
                           id="showTab2">
                            <div class="row px-2">
                                <i class="fas fa-map-marker-alt fa-lg"></i>
                                <p class="pl-2 m-0">نمای نقشه</p>
                            </div>
                        </a>
                    </li>
                </ul>

                <p class="small text-muted"
                   style="position: absolute; top: 10px; left: 20px;">{{ paginator.count }} نتیجه
                    یافت شد</p>

                <!-- Tab panes -->
                <div class="tab-content">

                    <!-- listViewTab -->
                    <div id="listViewTab" class="container tab-pane active"><br>
                        <!-- Venues List -->
                        {% for venue in  object_list %}
                            {#                        {% for venue in  filter.qs %}#}
                            <div class="card border-0 rounded-0 p-3 p-md-2 m-1">
                                {% if user.is_authenticated %}
                                    <a href="{{ venue.get_estimate_url }}"
                                       class="btn custom-btn price-venue showOnHover">
                                        استعلام
                                        قیمت</a>
                                {% else %}
                                    <a href="#"
                                       class="login-btn btn custom-btn price-venue showOnHover">
                                        استعلام
                                        قیمت</a>
                                {% endif %}
                                <div class="row ">
                                    <div class="col-md-5">
                                        <a href="{{ venue.get_absolute_url }}"><img src="{{ venue.picture_url }}"
                                                                                    class="w-100 h-100 img venuePicture"></a>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-block">
                                            <a href="{{ venue.get_absolute_url }}"><h5
                                                    class="text-dark pt-2">{{ venue.name }}</h5></a>
                                            <p class="text-muted small">{{ venue.area }} </p>
                                            <div class="row pl-3">
                                                <b class="text-dark small font-weight-bold my-0"
                                                   style="width: 60px;">سبک: </b>
                                                <p class="text-dark small my-0">
                                                    {{ venue.styles.all|join:"/"|default:"ندارد" }}</p>
                                            </div>
                                            <div class="row pl-3">
                                                <b class="text-dark small font-weight-bold my-1"
                                                   style="width: 60px;">بودجه:</b>
                                                <p class="text-dark small my-1">شروع
                                                    از {{ venue.min_price |intcomma:False }} تومان
                                                    تا {{ venue.max_price |intcomma:False }} تومان
                                                    برای
                                                    {{ venue.capacity }} مهمان
                                                </p>
                                            </div>
                                            <p class="text-muted pt-2 mt-0 mb-1 small">{{ venue.description|default:'...'|truncatewords:25 }} </p>
                                        </div>
                                        <div class="row pl-3 pt-2">
                                            {% if user.is_authenticated %}
                                                {% if request.user in venue.lovers.all %}
                                                    <a href="#" class=" text-purple row pl-3">
                                                        <i href="#" name="heart" class="like-btn fas fa-heart"
                                                           data-href='{{ venue.get_api_like_url }}'></i>
                                                        <a href="#"
                                                           class="like-btn pl-4 small font-weight-bolder text-purple showOnHover"
                                                           data-href='{{ venue.get_api_like_url }}'
                                                           style="font-size: 11px;">
                                                            مورد پسند
                                                        </a>
                                                    </a>
                                                {% else %}
                                                    <a href="#" class="text-purple row pl-3"
                                                       data-href='{{ venue.get_api_like_url }}'>
                                                        <i href="#" name="heart" class="like-btn far fa-heart"
                                                           data-href='{{ venue.get_api_like_url }}'></i>
                                                        <a href="#"
                                                           class="like-btn pl-4 small font-weight-bolder text-purple showOnHover"
                                                           data-href='{{ venue.get_api_like_url }}'
                                                           style="font-size: 11px;">
                                                            پسندیدن
                                                        </a>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                            <a href="{{ venue.get_absolute_url }}"
                                               class="showOnHover detail-button text-purple pr-3">مشاهده
                                                جزئیات</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}

                        <!-- /Venues List -->
                        <!-- Pagination -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item" data-page="{{ page_obj.previous_page_number }}">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                           tabindex="-1">قبلی</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">قبلی</a>
                                    </li>
                                {% endif %}
                                {% for pagenum in page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == pagenum %} active"{% endif %}
                                        data-page="{{ pagenum }}">
                                        <a class="page-link" href="?page={{ pagenum }}">
                                            {{ pagenum }}
                                            <span class="sr-only">(current)</span></a>
                                    </li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item" data-page="{{ page_obj.next_page_number }}"><a
                                            class="page-link" href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
                                {% else %}

                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">بعدی</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>

                    </div><!-- /listViewTab -->

                    <!-- mapViewTab -->
                    <div id="mapViewTab" class="container tab-pane fade"><br>
                        <div class="map-responsive">
                            {% leaflet_map "main" %}

                        </div>
                    </div>
                </div>

            </div><!-- /main content -->

        </div>
    </div> <!-- /container -->



{% endblock content %}
{% block extrascripts %}
    {#    <script src="{% static 'js/jquery.min.js' %}" charset="utf-8"></script>#}
    <!-- LEafLet Map JS -->
    {% leaflet_js %}
    <script>
        var dataurl = '{% url "map_json_data" %}';
        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;
            // Download GeoJSON data with Ajax
            fetch(dataurl)
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (data) {
                    L.geoJson(data, {
                        onEachFeature: function onEachFeature(feature, layer) {
                            var props = feature.properties;
                            var content = `<a href="${props.get_absolute_url}"><img width="300" src="${props.picture_url}"/><h3>${props.name}</h3><p>${props.description}</p></a>`;
                            layer.bindPopup(content);
                        }
                    }).addTo(map);
                });
            var mapViewTab = document.getElementById("mapViewTab");

            document.getElementById("showTab2").addEventListener("click", function () {
                mapViewTab.style.display = "block";
                map.invalidateSize(); // Uncomment this line and re-run to get correct behaviour.
            });

        });
    </script>
    <!-- /LEafLet Map JS -->

    <!-- Like JS -->
    <script>
        $(document).ready(function () {
            function Liked(btn) {
                btn.text(" " + "مورد پسند");
                btn.closest('div').find('svg[name="heart"]').attr('data-prefix', 'fas');
            }

            function DisLiked(btn) {
                btn.text(" " + "پسندیدن");
                btn.closest('div').find('svg[name="heart"]').attr('data-prefix', 'far');
            }

            $(".like-btn").click(function (e) {
                e.preventDefault();
                let this_ = $(this);
                let likeUrl = this_.attr("data-href");
                if (likeUrl) {
                    $.ajax({
                        url: likeUrl,
                        method: "GET",
                        data: {},
                        success: function (data) {
                            console.log(data);
                            if (data.liked) {
                                Liked(this_)
                            } else {
                                DisLiked(this_)
                                // remove one like
                            }
                        }, error: function (error) {
                            console.log(error);
                            console.log("error")
                        }
                    })
                }

            })
        });
    </script>

    <!-- /Lile Map JS -->

{% endblock extrascripts %}