{% extends "_base.html" %}
{% load static %}
{% load humanize %}
{% load extra_tags %}
{% load leaflet_tags %}
{% load widget_tweaks %}
{% block title %}{{ venue.name }}{% endblock %}
{% block extrahead %}
    {% leaflet_css %}

    <!-- Date Picker Farsi -->
    <link rel="stylesheet" href="{% static 'css/persian-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.md.bootstrap.datetimepicker.style.css' %}">
    <style>
        .leaflet-container { /* all maps */
            width: 300px;
            height: 150px;
        }

        #specialbigmap {
            height: 800px;
        }

        /* Resize the "display_raw" textbox */
        .django-leaflet-raw-textarea {
            width: 100%;
        /
        }

        .inputStyle ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle ::-moz-placeholder { /* Firefox 19+ */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle :-ms-input-placeholder { /* IE 10+ */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle :-moz-placeholder { /* Firefox 18- */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle ::-moz-placeholder { /* Firefox 19+ */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle :-ms-input-placeholder { /* IE 10+ */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .inputStyle :-moz-placeholder { /* Firefox 18- */
            color: #c2c2c2;
            font-size: .8rem;
            text-align: right;
        }

        .custom-modal-content {
            position: relative;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .2);
            border-radius: 6px;
            -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
            outline: 0;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
        }

    </style>

{% endblock extrahead %}
{% block content %}

    <div class="container pt-5">
        <div class="row justify-content-around">

            <!-- sidebar -->
            <div class="col-12 col-lg-3 col-xl-3 my-lg-5 mt-5">

                <div class="card border-0 shadow rounded-0 text-dark" style="min-width: 17rem;">
                    <div class="card-body text-center">
                        <h4 class="card-title font-weight-bold py-2">{{ venue.name }}</h4>
                        <div class="row justify-content-around py-2 px-3">
                            {% if not user.is_authenticated %}
                                <a href="#" class="login-btn row text-purple">
                                    <i class="login-btn far fa-phone fa-lg"></i>
                                    <p class="px-1">جهت تماس با تالار لطفاَ عضو شوید</p></a>
                            {% elif user.is_authenticated %}
                                <i class="fas fa-phone fa-lg text-purple"></i>
                                <a href="#" class="row text-purple" onclick="showNumber()" id="venuePhoneNumber">
                                    <p class="px-1" style="direction: ltr;">شماره تماس تالار</p>
                                </a>
                                <hr>
                                {% if request.user in venue.lovers.all %}
                                    <a href="#" class="row text-purple">
                                        <i name="heart" class="fas fa-heart fa-lg"></i>
                                        <p class="like-btn px-1" data-href='{{ venue.get_api_like_url }}'>مورد پسند</p>
                                    </a>
                                {% else %}
                                    <a href="#" class="row text-purple">
                                        <i name="heart" class=" far fa-heart fa-lg"></i>
                                        <p class="like-btn px-1" data-href='{{ venue.get_api_like_url }}'>پسندیدن</p>
                                    </a>
                                {% endif %}

                            {% endif %}
                            <a href="#" class="btn custom-btn d-block" style="width: 220px;" data-toggle="modal"
                               data-target="#contact">ارتباط
                                با تالار</a>
                        </div>

                    </div>
                </div>
                <div id="pricingStickySidebar" class="card border-0 shadow rounded-0 text-dark2 my-4 p-2"
                     style="min-width: 17rem;z-index: 1;">
                    <div class="card-body text-center">
                        <h6 class="card-title font-weight-bold py-3">شروع
                            از {{ venue.min_price|intcomma:False }} تومان
                            تا {{ venue.max_price|intcomma:False }} تومان
                        </h6>
                        <p class="text-secondary small">به صورت رایگان، هزینه این تالار رو به صورت سفارشی برآورد
                            کنید</p>

                        <a href="{{ venue.get_estimate_url }}" class="btn custom-btn d-block mt-5">تخمین
                            هزینه
                            ها</a>
                    </div>
                </div>

            </div><!-- /sidebar -->


            <!-- main content -->
            <div class="col-12 col-lg-8 col-xl-9 my-lg-5">

                <!-- slider -->
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for photo in venue.venue_photos.all %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"
                                class="{% if forloop.first %}active{% endif %}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for photo in venue.venue_photos.all %}
                            <div class="carousel-item  {% if forloop.first %}active{% endif %}">
                                <img class="d-block w-100" src="{{ photo.image.url }}" alt="تصویر موجود نیست"
                                     width="900"
                                     height="350">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <!-- venue details section -->
                <section class="bg-white shadow my-3 p-4">
                    <h3 class="text-center pb-3">مشخصات {{ venue.name }}</h3>

                    <div class="row justify-content-around">

                        <div class="col-12 col-lg-6">
                            <div class="d-flex pb-3">
                                <i class="far fa-sun fa-lg text-secondary"></i>
                                <div class="pl-4">
                                    <p class="text-dark mb-1">استایل:</p>
                                    <p class="small text-muted">{{ venue.styles.all|join:"/"|default:"ندارد" }}</p>
                                </div>
                            </div>
                            <div class="d-flex pb-3">
                                <i class="far fa-user fa-lg text-secondary"></i>
                                <div class=" pl-4">
                                    <p class="text-dark mb-1">ظرفیت مهمان:</p>
                                    <p class="small text-muted">ظرفیت کلی
                                        تا {{ venue.capacity }} نفر</p>
                                </div>
                            </div>
                            <div class="d-flex pb-3">
                                <i class="fas fa-concierge-bell fa-lg text-secondary"></i>
                                <div class="pl-4">
                                    <p class="text-dark mb-1">سرویس‌ها:</p>
                                    <p class="small text-muted">{{ venue.services.all|join:"/"|default:"ندارد" }}</p>
                                </div>
                            </div>
                            <div class="d-flex pb-3">
                                <i class="far fa-map fa-lg text-secondary"></i>
                                <div class="pl-4">
                                    <p class="text-dark mb-1">موقعیت مکانی:</p>
                                    <p class="small text-muted">{{ venue.area }}-{{ venue.address }}</p>
                                </div>
                            </div>
                            <!-- map -->
                            <div id="mapViewTab" class="container tab-pane pb-3"><br>
                                <div class="map-responsive">
                                    {% leaflet_map "main" %}

                                </div>
                            </div>

                        </div>

                        <div class="col-12 col-lg-5">
                            <p class="text-dark mb-2">توضیح:</p>
                            <p class="small text-secondary">
                                {{ venue.description|default:"ندارد"|our_linebreaks }}
                            </p>
                        </div>

                    </div>
                </section>

                <!-- additional details section -->
                <section class="bg-white shadow my-3 py-4 px-5">
                    <h3 class="text-center pb-3">توضیحات تکمیلی</h3>

                    <!-- accordion -->
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">

                        <!-- service option -->
                        <div class="filterSection text-secondary panel panel-default small">
                            <div class="panel-heading active pb-3" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                       aria-expanded="true" aria-controls="collapseOne">
                                        <i class="fas fa-chevron-down"></i>
                                        فضا
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in show pl-3" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">

                                    <div class="container row justify-content-start">
                                        {% for space in venue.spaces.all %}
                                            <div class="col-12 col-md-6">
                                                <div class="pl-4">
                                                    <h6 class="text-dark pb-2">{{ space.name }}</h6>
                                                    {#<ul class="pl-4">#}
                                                    {#<li>فقط محیط داخلی</li>#}
                                                    {#<li>ماکسیمم ظرفیت 350 نفر</li>#}
                                                    {#</ul>#}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr class="pb-3">
                        <!-- venue notes -->
                        <div class="filterSection text-secondary panel panel-default small">
                            <div class="panel-heading active pb-3" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                       aria-expanded="true" aria-controls="collapseTwo">
                                        <i class="fas fa-chevron-down"></i>
                                        یادداشت تالار
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in show pl-3" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">

                                    <div class="container">
                                        <p class="">{{ venue.venuedetails.notes }}
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr class="pb-3">
                        <!-- Amenities and Restrictions -->
                        <div class="filterSection text-secondary panel panel-default small">
                            <div class="panel-heading pb-3" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseThree"
                                       aria-expanded="true" aria-controls="collapseThree">
                                        <i class="fas fa-chevron-down"></i>
                                        امکانات و محدودیت‌ها
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in pl-3" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">

                                    <div class="container row justify-content-around">
                                        <div class="col-12 col-md-6">
                                            <h6 class="text-dark pb-2">امکانات</h6>
                                            <ul class="pl-4">
                                                {% for amenity in venue.venuedetails.amenities %}
                                                    <li style="list-style-type: none;">{{ forloop.counter }}. {{ amenity }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <h6 class="text-dark pb-2">محدودیت‌ها</h6>
                                            <ul class="pl-4">
                                                {% for restrict in venue.venuedetails.restrictions %}
                                                    <li style="list-style-type: none;">{{ forloop.counter }}. {{ restrict }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <hr class="pb-3">
                        <!-- links -->
                        <div class="filterSection text-secondary panel panel-default small">
                            <div class="panel-heading pb-3" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseFour"
                                       aria-expanded="true" aria-controls="collapseFour">
                                        <i class="fas fa-chevron-down"></i>
                                        لینک‌ها
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse in pl-3" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="panel-body">
                                    {% for link in venue.venuedetails.links %}
                                        <li><a href="http://{{ link }}">{{ link }}</a></li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <!-- /additional details section -->

                <!-- interested section -->
                <section class="bg-white text-center shadow my-3 py-4 px-5">
                    <h3 class="text-center pb-3">این تالار نظرتو جلب کرده؟</h3>
                    <p class="text-dark">برای دریافت اطلاعات بیشتر در مورد این تالار می‌توانید برای آن‌ها پیام
                        بگذارید.</p>
                    <p class="text-muted small">به بیعانه یا ثبت نام در وب سایت نیازی نیست</p>


                    <button type="button" class="btn custom-btn" data-toggle="modal"
                            data-target="#contact">
                        تماس با {{ venue.name }}
                    </button>

                    <!-- contact form modal -->
                    <div class="modal fade" tabindex="-1" role="dialog" id="contact"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="custom-modal-content">
                                <div class="">
                                    <h5 class="modal-title py-3 text-center">تماس با صاحب {{ venue.name }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                            style="position: absolute;left: 10px;top: 10px;padding: 10px;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body px-lg-5">
                                    <!-- contact form -->
                                    <form method="POST" action="#"
                                          class="text-left text-secondary small inputStyle">
                                        {% csrf_token %}
                                        <div class="form-row">
                                        </div>
                                        <div class="form-row mt-3">
                                            <!-- phone number -->
                                            <div class="form-group col-md-6">
                                                <label for="inputPhoneNumber">شماره همراه</label>
                                                <input type="tel" name="phone_number"
                                                       maxlength="128" pattern="+[0-9]{13}" style="direction: ltr"
                                                       class="form-control border-left-0 border-top-0 border-right-0 rounded-0 text-right"
                                                       placeholder="مثال: +۹۸۹۱۲۳۴۵۶۷۸۹"
                                                       id="inputPhoneNumber" required=""
                                                       oninvalid="this.setCustomValidity('شماره وارد شده صحیح نیست، شماره همراه را بدون صفر وارد نمائید')"
                                                       oninput="setCustomValidity('')"
                                                       title="شماره همراه خود را وارد نمائید">
                                                {% for error in form.phone_number.errors %}
                                                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                            <!-- guests number -->
                                            <div class="form-group col-md-6">
                                                <label for="inputGuestNumber">تعداد مهمانان</label>
                                                <input type="number" name="number_of_guests" min="1" max="10000"
                                                       placeholder="تعداد تقریبی مهمانان" id="inputGuestNumber"
                                                       class="outline-0 form-control border-left-0 border-top-0 border-right-0 rounded-0"
                                                       required=""
                                                       oninvalid="this.setCustomValidity('فیلد تعداد مهمان نمیتواند خالی باشد')"
                                                       oninput="setCustomValidity('')"
                                                       title="لطفا تعداد مهمان‌های خود را وارد نمائید">
                                                {% for error in form.number_of_guests.errors %}
                                                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <!-- cantact reason -->
                                            <div class="form-group col-md-6">
                                                <label for="inputReason">دلیل تماس</label>
                                                <input type="text" name="contact_reason"
                                                       placeholder="مثال: جهت رزرو" maxlength="60"
                                                       class="form-control border-left-0 border-top-0 border-right-0 rounded-0"
                                                       id="inputReason" required=""
                                                       oninvalid="this.setCustomValidity('دلیل تماس خود را با تالار بنوسیسد')"
                                                       oninput="setCustomValidity('')"
                                                       title="دلیل تماس با تالار را بنویسید">
                                                {% for error in form.contact_reason.errors %}
                                                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                            <!-- Date select -->
                                            <div class="form-group col-md-6">
                                                <label for="inputDate">انتخاب تاریخ و زمان مد نظر</label>
                                                <label id="showDate_class"> </label>
                                                <input type="text" autocomplete="off" name="preferred_wedding_date"
                                                       class=" form-control border-left-0 border-top-0 border-right-0 rounded-0"
                                                       id="inputDate3"
                                                       required="" data-mdpersiandatetimepicker=""
                                                       data-original-title=""
                                                       oninvalid="this.setCustomValidity('تاریخ مورد نظر جهت رزرو را انتخاب کنید')"
                                                       oninput="setCustomValidity('')">
                                                {% for error in form.preferred_wedding_date.errors %}
                                                    <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="form-group custom-control custom-checkbox mt-3">
                                            {% render_field form.flexible_dates type="checkbox" class="custom-control-input border-left-0 border-top-0 border-right-0 rounded-0" id="customCheck" %}
                                            {% for error in form.flexible_dates.errors %}
                                                <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                            {% endfor %}
                                            <label class="custom-control-label pt-1" for="customCheck">روزهای
                                                انتخابی من میتونه تغییر کنه</label>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputNote">پیام شما</label>
                                            {% for error in form.message.errors %}
                                                <p class="my-0 mt-1 text-danger rounded">{{ error }}</p>
                                            {% endfor %}
                                            {% render_field form.message name="inputNote" id="inputNote" cols="30" rows="4" class="form-control" %}
                                        </div>
                                        <p class="font-weight-bolder">
                                            با ارسال این درخواست، شما با تمامی
                                            <a href="{% url 'about_us' %}#FAQ">قوانین و خط مشی‌های</a>
                                            ما موافقت می‌کنید.
                                        </p>
                                        <div class="row justify-content-end my-2 pr-2">
                                            <button type="submit" class="btn text-secondary"
                                                    data-dismiss="modal" aria-label="Close">انصراف
                                            </button>
                                            <button type="submit" class="btn custom-btn ">ارسال
                                                درخواست
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </section><!-- /interested section -->

                <!-- other venues section -->
                <section class="bg-white shadow my-3 py-4">
                    <h6 class="pl-4 pb-3">ممکنه از این تالارها هم خوشت بیاد...</h6>

                    <div class="row justify-content-center">
                        {% for SimVenue in venue.related_items %}
                            <div class="card my-1 mx-1" style="max-width: 16rem;">
                                <img class="card-img-top mayYouLikePicture" src="{{ SimVenue.picture_url }}"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title mb-1">{{ SimVenue.name }}</h5>
                                    <p class="card-text text-muted small">{{ SimVenue.area }}</p>
                                    <p class="card-text text-muted small">
                                        از {{ SimVenue.min_price|intcomma:False }} تومان
                                        برای {{ SimVenue.capacity }} مهمان</p>
                                </div>
                                <a href="{{ SimVenue.get_absolute_url }}" class="pb-3 pl-3">جزئیات بیشتر</a>
                            </div>
                        {% endfor %}
                    </div>
                </section><!-- /other venues section -->


            </div><!-- /main content -->

        </div>
    </div>
    <!-- /container -->

    {% if venue.lovers.count >= 1 %}
        <div class="alert alert-dismissible fade show small rounded-0"
             style="position: fixed;bottom: 10px;right: 15px;left: 15px;;z-index: 10;max-width: 350px;color: white;background-color: rgba(73, 73, 74, .92);">
            <button type="button" class="close" data-dismiss="alert" style="color: white;">×</button>
            <strong style="font-size: .9rem;margin-left: 4px;">{{ venue.lovers.count }}</strong> نفر تا
            کنون این تالار را پسندیده است
        </div>
    {% endif %}
    <div class="alert alert-dismissible fade show small rounded-0"
         style="position: fixed;bottom: 10px;left: 10px;z-index: 10;max-width: 600px; color: white;background-color: rgba(73, 73, 74, .92);">
        <button type="button" class="close" data-dismiss="alert">×</button>
        از آخرین بروزرسانی اطلاعات این تالار{#            <strong>{{ venue.updated_time|date:"D d F Y " }}</strong>#}
        <strong>{{ venue.updated_time|timesince }}</strong>
        می گذرد

    </div>

{% endblock content %}

{% block extrascripts %}

    <!--------------- Scripts ------------>
    {% leaflet_js %}
    <script>
        var dataurl = '{{ venue.get_data_json_url }}';
        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;
            // Download GeoJSON data with Ajax
            fetch(dataurl)
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (data) {
                    L.geoJson(data, {
                        onEachFeature: function onEachFeature(feature, layer) {
                            var props = feature.properties;
                            var content = `<a href="${props.get_absolute_url}"><img width="120" src="${props.picture_url}"/><h3>${props.name}</h3></a>`;

                            layer.bindPopup(content);
                        }
                    }).addTo(map);
                });
            map.panTo(new L.LatLng({{ venue.coordinates.1 }}, {{ venue.coordinates.0 }}));
        });
    </script>

    <!-- JQuery -->

    {#    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>#}
    <script>
        $(document).ready(function () {
            function Liked(btn) {
                btn.text(" " + "مورد پسند");
                btn.closest('div').find('svg[name="heart"]').attr('data-prefix', 'fas');
            }

            function DisLiked(btn) {
                btn.text(" " + "پسندیدن");
                btn.closest('div').find('svg[name="heart"]').attr('data-prefix', 'far');
            }

            $(".like-btn").click(function (e) {
                e.preventDefault();
                let this_ = $(this);
                let likeUrl = this_.attr("data-href");
                let likeCount = parseInt(this_.attr("data-likes")) | 0;
                if (likeUrl) {
                    $.ajax({
                        url: likeUrl,
                        method: "GET",
                        data: {},
                        success: function (data) {
                            console.log(data);
                            let newLikes;
                            if (data.liked) {
                                Liked(this_)
                            } else {
                                DisLiked(this_)
                                // remove one like
                            }
                        }, error: function (error) {
                            console.log(error);
                            console.log("error")
                        }
                    })
                }

            })
        })
    </script>
    {% if  form.errors %}
        <script>
            // open cantact form modal on page load
            $(window).on('load', function () {
                $('#contact').modal('show');
            });
        </script>
    {% endif %}

    <!-- show venue number on click -->
    <script>
        function showNumber() {
            document.getElementById("venuePhoneNumber").innerHTML = "{{ venue.phone }}";
            document.getElementById("venuePhoneNumber").style.direction = "ltr";
        }
    </script>
{% endblock extrascripts %}