{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen">
    <!-- My custom styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <!-- Custom CSS -->
    <style media="screen">
        .invalid {
            color: #dc3545;
            font-size: 80%;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .footer {
            margin: auto 0 0;
            height: 56px;
        }

        .inputStyle ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #c2c2c2;
            font-size: .7rem;
            text-align: right;
        }

        .inputStyle ::-moz-placeholder { /* Firefox 19+ */
            color: #c2c2c2;
            font-size: .7rem;
            text-align: right;
        }

        .inputStyle :-ms-input-placeholder { /* IE 10+ */
            color: #c2c2c2;
            font-size: .7rem;
            text-align: right;
        }

        .inputStyle :-moz-placeholder { /* Firefox 18- */
            color: #c2c2c2;
            font-size: .7rem;
            text-align: right;
        }
    </style>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title> {% block title %} {% endblock title %}|تالار</title>
    {% block extrahead %}

    {% endblock %}


</head>
<body>

{% block modalhtml %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document" style="max-width: 400px;">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock modalhtml %}

{% block NavBar %}
    <!-- Navbar -->
    {% if request.path == '/' %}
        <nav class="navbar indexNavbar-default navbar-expand-lg fixed-top shadow-sm" id="indexNavbar">
    {% else %}
        <nav class="navbar navbar-default navbar-expand-lg fixed-top shadow-sm" id="indexNavbar">

    {% endif %}
<!-- navbar Brand -->
<a class="navbar-brand m-0 p-0" href="{% url 'home' %} ">
    <img src="{% static 'img/icon.png' %}" alt="website-icon" style="height: 40px;">
</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon font-secondary"><i class="fas fa-bars fa-lg"></i></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto px-3">
        {% if request.path != "/wedding-venues/" %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'venues_list' %}">لیست تالارها <span
                        class="sr-only">(current)</span></a>
            </li>
        {% endif %}
        {% if request.path != "/about_us/" %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about_us' %}">درباره‌ما</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'submit_venue' %}">ثبت تالار</a>
        </li>
    </ul>

    <ul class="navbar-nav">
        <!-- location mega menu -->
        <li class="nav-item dropdown position-static location-menu">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
               aria-haspopup="true"
               aria-expanded="false">مکان‌ها</a>
            <ul class="dropdown-menu loacation-drop-down w-100 shadow p-0" id="navbarDropdownMega">
                <li class="dropdown-item">
                    <div class="row py-3">
                        {% for province in Provinces %}
                            <div class="col-md-6 col-lg-3 pb-2">
                                <ul class="list-unstyled">
                                    <li>{{ province.name }}</li>
                                    {% for area in province.area.all %}
                                        <li><a href="{% url 'venues_list' %}?area={{ area.id }}">
                                            {{ forloop.counter }}. {{ area.name }}</a>
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </li>
        <!-- /location mega menu -->
        {% if request.path != '/' %}
            <!-- navbar-search -->
            <form class="form-inline mx-2 my-lg-0 inputStyle" method="get" action="{% url 'venues_list' %}">
                <div class="bg-white rounded border">
                    <div class="input-group">
                        <input type="search" placeholder="جستجو نام تالار یا شهر و منطقه" required=""
                               aria-describedby="navbarSearchButton"
                               oninvalid="this.setCustomValidity('برای جستجو اسم تالار، شهر و یا منطقه را وارد کنید')"
                               oninput="setCustomValidity('')"
                               class="form-control border-0 bg-white navSearch" name="search">
                        <div class="input-group-append">
                            <button id="navbarSearchButton" type="submit"
                                    class="btn btn-link text-purple bg-white"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
        {% if user.is_authenticated %}

            <!-- user-area -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown"
                   aria-haspopup="false" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    کاربری
                </a>
                <div class="dropdown-menu user-drop-down" style="left: 0;" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'account' %}#favorites">مورد علاقه</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'account' %}#contactInfo">تنظیمات کاربری</a>
                    <a class="dropdown-item" href="{% url 'log_out' %}">خروج</a>
                </div>
            </li>
        {% else %}
            <!-- Login -->
            <li class="nav-item">
                <a class="login-btn nav-link" href="#">ورود</a>
            </li>
            <!-- Register -->
            <li class="nav-item mr-4">
                <a class="signup-btn nav-link" href="#">ثبت نام</a>
            </li>
        {% endif %}
    </ul>
</div>
</nav>
    <!-- /Navbar -->
{% endblock %}

{% block content %}

{% endblock content %}

{% block Messages %}
    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert" id="successMessage"
             style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);z-index: 100000;">
            <div class="row px-2 pt-2">
                <i class="far fa-times-circle fa-2x"></i>
                <p class="pt-1 pl-2">{{ message }}</p>
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

{% endblock Messages %}

{% block Footer %}
    <!-- Footer -->
    <footer class="bg-dark mt-2" id="indexFooter">
        <div class="container pt-5 pb-2" style="color: #cbcfd3;">
            <div class="row small">

                <div class="col-12 col-md-4 col-lg-5">
                    <h5 class="mb-3">وب‌سایت {{ other.name }}</h5>
                    <p class="pl-2">شما می‌توانید از طریق راه‌های ارتباطی زیر با ما در تماس باشید.</p>
                    <div class="d-flex pl-3">
                        <a class="px-2" href="{{ other.instagram }}"><i class="fab fa-instagram fa-2x"></i></a>
                        <a class="px-2" href="{{ other.telegram }}"><i class="fab fa-telegram-plane fa-2x"></i></a>
                        <a class="px-2" href="{{ other.whats_app }}"><i class="fab fa-whatsapp fa-2x"></i></a>
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-3 mt-5 mt-md-0">
                    <h5 class="mb-3">لینک‌های وب‌سایت</h5>
                    <ul class="pl-4">
                        <li><a href="{% url 'home' %}">صفحه اصلی</a></li>
                        <li><a href="{% url 'venues_list' %}">لیست تمامی تالارها</a></li>
                        <li><a href="{% url 'about_us' %}">درباره ما</a></li>
                    </ul>
                </div>

                <div class="col-12 col-md-4 col-lg-4 mt-5 mt-md-0">
                    <h5 class="mb-3">اطلاعات تماس</h5>
                    <div class="d-flex pl-2" style="margin-bottom: -10px;">
                        <i class="fas fa-map-marker-alt"></i>
                        <p class="pl-2">{{ other.address }}</p>
                    </div>
                    <div class="d-flex pl-2" style="margin-bottom: -10px;">
                        <i class="fas fa-phone"></i>
                        <p class="pl-2">{{ other.mobile }}</p>
                    </div>
                    <div class="d-flex pl-2" style="margin-bottom: -10px;">
                        <i class="far fa-envelope"></i>
                        <p class="pl-2">{{ other.email }}</p>
                    </div>
                    <div class="d-flex pl-2" style="margin-bottom: -10px;">
                        <i class="fas fa-fax"></i>
                        <p class="pl-2">{{ other.phone }}</p>
                    </div>
                </div>

            </div>
            <hr>
            <p class="text-light small text-center">{{ other.copyright }}</p>
        </div>
    </footer>
    <!-- End Footer -->
{% endblock %}

{% block scripts %}
    <!-------------- Script --------------->
    <!-- JQuery -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    {#    <script src="{% static 'js/jquery.min.js' %}"></script>#}
    <!-- Date Picker Farsi -->
    <script src="{% static 'js/jquery.md.bootstrap.datetimepicker.js' %}"></script>
    <!-- Bootstrap tooltips -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Modals JavaScript -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    <!-- My custom JS -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
    <!-- FontAwesome -->
    <script src="{% static 'js/all.js' %}"></script>
{% endblock scripts %}

{% block modaljs %}
    <script>
        $(function () {
            // Log in & Sign up buttons
            $(".signup-btn").modalForm({formURL: "{% url 'sign_up_user' %}"});
            $(".login-btn").modalForm({formURL: "{% url 'log_in' %}"});
            // Send Request
            var url = $(location).attr('href'),
                parts = url.split("/"),
                last_part = parts[parts.length - 2];
            $(".alert").fadeTo(2000, 500).slideUp(500, function () {
                $(".alert").slideUp(500);
            });
        });
    </script>
{% endblock modaljs %}

{% block extrascripts %} {% endblock extrascripts %}

</body>
</html>